- Identify the data types you are working with.
- Examine the distributions of your data, numerically and/or visually.
- Identify outliers.
- Identify missing data and look for patterns of missing data.
- Describe how your EDA will inform your modeling decisions and process.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime as datetime

## Import data

In [63]:
tickers = pd.read_csv('../dataset/tickers.csv')
#name the header ticker

In [66]:
tickers

     ticker
0      ABIO
1      AGTC
2       AIM
3      AIRT
4      ALSK
...     ...
1943   CAGZ
1944   PTSC
1945   JUHL
1946   OPST
1947   IDAH

[1948 rows x 1 columns]

In [68]:
tickers['ticker'].str.contains('WNEB').any()

True

### price_volume_sorted data

In [3]:
price_volume_sorted = pd.read_csv('../dataset/price_volume_sorted.csv',  parse_dates=['date'])
price_volume_sorted.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
0,AAME,2015-01-02,3.990,4.03,3.980,4.03,11443.0,0.0,4.03,2018-06-13
1,AAME,2015-01-05,3.900,4.01,3.900,4.01,13727.0,0.0,4.01,2018-06-13
2,AAME,2015-01-06,3.950,3.95,3.750,3.92,9743.0,0.0,3.92,2018-06-13
3,AAME,2015-01-07,3.899,3.92,3.870,3.92,1486.0,0.0,3.92,2018-06-13
4,AAME,2015-01-08,3.920,3.95,3.915,3.95,2200.0,0.0,3.95,2018-06-13

In [4]:
price_volume_sorted.dtypes

ticker                 object
date           datetime64[ns]
open                  float64
high                  float64
low                   float64
close                 float64
volume                float64
dividends             float64
closeunadj            float64
lastupdated            object
dtype: object

In [5]:
price_volume_sorted.isnull().sum()

ticker         0
date           0
open           0
high           0
low            0
close          0
volume         0
dividends      0
closeunadj     0
lastupdated    0
dtype: int64

In [6]:
price_volume_sorted.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
0,AAME,2015-01-02,3.990,4.03,3.980,4.03,11443.0,0.0,4.03,2018-06-13
1,AAME,2015-01-05,3.900,4.01,3.900,4.01,13727.0,0.0,4.01,2018-06-13
2,AAME,2015-01-06,3.950,3.95,3.750,3.92,9743.0,0.0,3.92,2018-06-13
3,AAME,2015-01-07,3.899,3.92,3.870,3.92,1486.0,0.0,3.92,2018-06-13
4,AAME,2015-01-08,3.920,3.95,3.915,3.95,2200.0,0.0,3.95,2018-06-13

In [7]:
price_volume_sorted.tail()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
2397143,ZYXI,2020-12-14,13.10,13.59,13.100,13.34,446678.0,0.0,13.34,2020-12-14
2397144,ZYXI,2020-12-15,13.45,13.45,13.030,13.18,372095.0,0.0,13.18,2020-12-15
2397145,ZYXI,2020-12-16,13.24,13.95,13.240,13.87,560581.0,0.0,13.87,2020-12-16
2397146,ZYXI,2020-12-17,13.94,14.29,13.701,14.25,409889.0,0.0,14.25,2020-12-17
2397147,ZYXI,2020-12-18,14.25,14.39,13.730,14.00,551332.0,0.0,14.00,2020-12-18

## Basic EDA and Feature Engineering

### Price
- Since we have four values of stock price for each day, let's create a feature called Price which is the average of all these values.

In [8]:
df = price_volume_sorted
#store it as df

In [9]:
values = (df['high'] + df['low'] + df['open'] + df['close'])/4
df = df.assign(Price=values)

In [10]:
df.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated,Price
0,AAME,2015-01-02,3.990,4.03,3.980,4.03,11443.0,0.0,4.03,2018-06-13,4.00750
1,AAME,2015-01-05,3.900,4.01,3.900,4.01,13727.0,0.0,4.01,2018-06-13,3.95500
2,AAME,2015-01-06,3.950,3.95,3.750,3.92,9743.0,0.0,3.92,2018-06-13,3.89250
3,AAME,2015-01-07,3.899,3.92,3.870,3.92,1486.0,0.0,3.92,2018-06-13,3.90225
4,AAME,2015-01-08,3.920,3.95,3.915,3.95,2200.0,0.0,3.95,2018-06-13,3.93375

In [11]:
df.describe().apply(lambda s: s.apply('{0:.5f}'.format))

,open,high,low,close,volume,dividends,closeunadj,Price
count,2397148.00000,2397148.00000,2397148.00000,2397148.00000,2397148.00000,2397148.00000,2397148.00000,2397148.00000
mean,89203.14106,94416.44721,84003.94079,87851.82232,219906.91451,0.00516,42.32264,88868.83785
std,8560189.38525,9156852.49674,8064928.76648,8443640.11737,2918537.65131,2.76311,2181.89773,8546078.74477
min,0.00001,0.00010,0.00001,0.00010,0.00000,0.00000,0.00000,0.00006
25%,1.53000,1.59000,1.50000,1.53000,1751.00000,0.00000,0.86000,1.53500
50%,5.75000,5.91000,5.60000,5.75000,15782.00000,0.00000,3.56000,5.75000
75%,15.00000,15.23000,14.75000,15.00000,76277.00000,0.00000,11.37000,15.00000
max,1626238373.76500,2049597950.40600,1555678444.32500,1673278326.72500,955210864.00000,3080.00000,172250.00000,1724509875.49350

In [12]:
np.percentile(df['Price'] , 47)

5.01625

Comments:
- 75% of the stocks have a price of under 15 USD, indicating that this segment of the stock market is mostly dominated by companies with low stock price.
- 25% of the stocks have a price of under 1.53 USD, which is below the price at which some academics would consider to be penny stocks (i.e. stocks less than 5 USD)
- roughly 47% of stocks in this universe would be considered as penny stocks as they are 5 USD or less

In [13]:
df.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated,Price
0,AAME,2015-01-02,3.990,4.03,3.980,4.03,11443.0,0.0,4.03,2018-06-13,4.00750
1,AAME,2015-01-05,3.900,4.01,3.900,4.01,13727.0,0.0,4.01,2018-06-13,3.95500
2,AAME,2015-01-06,3.950,3.95,3.750,3.92,9743.0,0.0,3.92,2018-06-13,3.89250
3,AAME,2015-01-07,3.899,3.92,3.870,3.92,1486.0,0.0,3.92,2018-06-13,3.90225
4,AAME,2015-01-08,3.920,3.95,3.915,3.95,2200.0,0.0,3.95,2018-06-13,3.93375

In [27]:
len(df.ticker.unique())

1948

In [98]:
tickers.head(10)

  ticker
0   ABIO
1   AGTC
2    AIM
3   AIRT
4   ALSK
5    ALT
6   AVGR
7   BCDA
8   BEAT
9   BLIN

### Growth

In [70]:
 df.ticker.unique()

array(['AAME', 'AAOI', 'AAPC', ..., 'ZQKSQ', 'ZSAN', 'ZYXI'], dtype=object)

In [71]:
tickers['ticker'].to_numpy()

array(['ABIO', 'AGTC', 'AIM', ..., 'JUHL', 'OPST', 'IDAH'], dtype=object)

In [77]:
df.date.min()

Timestamp('2015-01-02 00:00:00')

In [ ]:
why is BCAR in stock_names but not price_mapping?
#i think its because the starting date is different for some stocks

In [86]:
stock_names = tickers['ticker'].to_numpy()
#store the stock ticker as stock_names

day_prices = df[df.date == df.date.min()].Price
# find the day prices at the start of our time period which is 2015-01-02

price_mapping = {n : c for n, c in zip(stock_names, day_prices)}
# Map the price of each stock to that

In [115]:
if 'BCAR' in stock_names:
  print("yes")
else:
  print("no")

yes

In [100]:
price_mapping

{'ABIO': 4.0075,
 'AGTC': 11.0175,
 'AIM': 1.77,
 'AIRT': 1.6625,
 'ALSK': 12.54,
 'ALT': 3.3425,
 'AVGR': 0.28750000000000003,
 'BCDA': 127.071,
 'BEAT': 0.13,
 'BLIN': 63.542,
 'BMTM': 4.0275,
 'CASI': 0.755,
 'CBAT': 5065.55425,
 'CDZI': 17.2375,
 'CEI': 4.49,
 'CJJD': 21.2625,
 'CLIR': 6.7749999999999995,
 'CLRB': 12.325,
 'COHN': 3.0,
 'CPHC': 20.0425,
 'CRTD': 2.42525,
 'CVV': 4.38,
 'CYCC': 8.52275,
 'CYTK': 8.6475,
 'DSS': 0.63625,
 'ENZ': 11.350000000000001,
 'FDUS': 2.09,
 'FKWL': 6.0975,
 'FORD': 0.24,
 'GV': 4.435,
 'HALL': 23.977499999999996,
 'HBIO': 316.2,
 'IBIO': 49.129999999999995,
 'IGXT': 0.11,
 'INSE': 2.69,
 'MFIN': 58.089999999999996,
 'MKTY': 0.004,
 'MLR': 30.3175,
 'MNTX': 0.08,
 'MPB': 2.3875,
 'MVBF': 25.4,
 'MVC': 1.24,
 'NANX': 16.677500000000002,
 'NBSE': 0.004,
 'NLTX': 8.3475,
 'OPTT': 1.75,
 'PEIX': 6.2425,
 'PFBX': 21.2025,
 'PRCP': 12.4305,
 'PRKR': 10.3875,
 'PTE': 9.5075,
 'PW': 3.5250000000000004,
 'RAIL': 1.06,
 'RELV': 87.01024999999998,
 'RMNI': 129.2015,
 'SCYX': 94.86,
 'SESN': 21.4175,
 'SIF': 10.235249999999999,
 'SLS': 17.09675,
 'SMTI': 13.178,
 'SVBL': 13.555,
 'TBNK': 11.5,
 'TCFC': 733.4439999999998,
 'TESS': 40.875,
 'TEUM': 7.375000000000001,
 'TNXP': 84.9,
 'TRCH': 17.00025,
 'TRCK': 0.5445,
 'VBIV': 16.15,
 'WHLR': 1.79,
 'ACER': 535.0885000000001,
 'AHPI': 7.0775,
 'ARKR': 0.08,
 'ASUR': 1.6124999999999998,
 'AVNW': 10.195,
 'AYRO': 2.175,
 'BDGE': 10.45,
 'CAC': 24.252499999999998,
 'CRXM': 23.3975,
 'CWGL': 3.6325000000000003,
 'CYTH': 9.5725,
 'DIT': 9.8975,
 'EML': 32.287499999999994,
 'FATE': 2.89225,
 'FPAY': 7.810499999999999,
 'FZMD': 9.052499999999998,
 'GLAE': 5.74,
 'HEPA': 0.04,
 'HPTO': 0.71075,
 'IDEX': 0.771,
 'INPX': 20.347499999999997,
 'JSDA': 16.905,
 'LEU': 0.07500000000000001,
 'MARA': 70.501,
 'NVUS': 2.875,
 'OBLG': 1.6475000000000002,
 'OCC': 13.36,
 'OCGN': 0.265,
 'QTNT': 8.872499999999999,
 'REI': 0.335,
 'RFIL': 19.229999999999997,
 'RICK': 117.1,
 'RIOT': 216.755,
 'RKDA': 577.626,
 'RSLS': 1.0425,
 'SAEXQ': 3.425,
 'SHBI': 2.5759999999999996,
 'SNGX': 9.1675,
 'SNSS': 3.648,
 'SPRT': 10.26125,
 'SXCL': 18.5325,
 'SYN': 7.85,
 'TCON': 19.745,
 'UEC': 201.45,
 'VUZI': 3.7075,
 'WATT': 22.482499999999998,
 'ABMC': 5.577500000000001,
 'AHC': 1400.0,
 'ATOS': 0.63,
 'AUPH': 2.375,
 'BASI': 1.22,
 'BFIN': 0.1975,
 'BKEP': 22.52,
 'BYFC': 5.1125,
 'CBLI': 2.27,
 'CNET': 20.64,
 'CRDF': 17.3,
 'CTG': 51.300000000000004,
 'CTGO': 8.84,
 'DPW': 7.7775,
 'EGY': 0.02,
 'EMYB': 8.1375,
 'ENZN': 2.16,
 'EYEG': 3.0774999999999997,
 'FFNW': 12.38875,
 'FLUX': 1.0675000000000001,
 'FMAO': 5.39625,
 'FTEK': 10.235,
 'FTFT': 1.9300000000000002,
 'GBLX': 16.8,
 'GEC': 1.605,
 'GMBL': 2.5450000000000004,
 'HBNC': 25.72,
 'HCFT': 0.9,
 'ICD': 177.82700000000003,
 'IESC': 2.0825,
 'IGC': 267.3,
 'INBK': 2.8924999999999996,
 'KMPH': 2.6025,
 'LSBK': 6.317500000000001,
 'MCEP': 23.64,
 'MN': 0.539,
 'MVEN': 3.8059999999999996,
 'NVOS': 10.9225,
 'NXTD': 8.525,
 'ONTX': 1.8125,
 'ORGS': 18.27,
 'PANL': 0.91,
 'PBHC': 0.78,
 'PPIH': 1.9635,
 'PSSR': 4.515,
 'REPH': 2.79,
 'SINO': 9.7,
 'SNCA': 3.5949999999999998,
 'SOHO': 0.389,
 'SSNT': 3.0,
 'STAF': 3.1,
 'TNLX': 13930.0,
 'TPCS': 3.825,
 'TPVG': 2.815,
 'TRTC': 750.618,
 'UBFO': 0.75,
 'WTT': 2.465,
 'XSPA': 1.7225000000000001,
 'ZGNX': 0.105,
 'ARL': 2.1075,
 'ASTC': 5.015,
 'BPTH': 73.85,
 'CRMD': 1.0925,
 'DJCO': 23.8525,
 'EMCF': 25.569999999999997,
 'EVI': 13.7775,
 'EYPT': 19.4975,
 'FRAF': 16.197499999999998,
 'GBR': 0.1375,
 'GENC': 11.73,
 'GFED': 12.96,
 'GORO': 7.56175,
 'IAIC': 7.7524999999999995,
 'IEHC': 17.70475,
 'INSG': 8.5,
 'IOR': 26.509999999999998,
 'JAGX': 29.889999999999997,
 'KALV': 14.86,
 'LCUT': 2.50475,
 'LEAF': 10.015,
 'MGHL': 22.075,
 'MRLN': 7.0,
 'MUX': 22.3975,
 'NLBS': 0.3325,
 'ONCT': 0.01,
 'PHOT': 11.74,
 'PTN': 0.0475,
 'RBCN': 7.220000000000001,
 'RCMT': 1.96,
 'SANW': 13.0,
 'SLP': 21.07675,
 'SONA': 9.05,
 'SSSS': 36.25,
 'STXS': 1.58075,
 'SUNW': 5.569999999999999,
 'TAT': 8.432500000000001,
 'TCI': 2229.349,
 'THMO': 13.1875,
 'USIO': 7.07,
 'VOLT': 0.185,
 'XPL': 6.7425,
 'XRDC': 9.5,
 'ZMTP': 10.67675,
 'ACU': 12.388,
 'AEY': 4.795,
 'AMRB': 8.64,
 'ANFC': 9.7925,
 'APDN': 1.672,
 'ASYS': 580.8125,
 'ATEC': 0.85,
 'BKSC': 18.355,
 'BSRR': 21.75,
 'CASH': 0.02,
 'CEMI': 2.15,
 'CFFI': 25.85125,
 'CLCT': 0.75,
 'CNTY': 0.45,
 'CRWS': 18.088749999999997,
 'CVU': 5.970000000000001,
 'CZFS': 7.433249999999999,
 'EARN': 15.890999999999998,
 'ELMD': 10.274999999999999,
 'ESOA': 532.25,
 'FGF': 0.31125,
 'FMBH': 0.079,
 'FNLC': 13.0845,
 'FUNC': 12.504999999999999,
 'GFN': 7.75,
 'GNUS': 2.83,
 'HSDT': 6.9675,
 'HSTO': 8.4,
 'ICCC': 6.75,
 'INTI': 0.03,
 'ITOX': 8.108,
 'KOAN': 4.53,
 'MEIP': 0.13,
 'MGEN': 17.36,
 'MSON': 39.042500000000004,
 'OMEX': 65.75,
 'ORN': 9.13425,
 'OVLY': 0.5975,
 'PLBC': 4.1725,
 'PLXP': 3.8124999999999996,
 'RHE': 6.084999999999999,
 'SEEL': 5.61925,
 'SMMF': 20.535,
 'SNOA': 14.7,
 'SONN': 11.475,
 'STRS': 4.375,
 'TLGT': 1.3250000000000002,
 'TMBR': 12.365,
 'TRXC': 0.27,
 'UAVS': 10.1,
 'UCTT': 7.09225,
 'VIVE': 26.268250000000002,
 'ADMA': 0.14,
 'ATHX': 20.447499999999998,
 'BCBP': 1.19725,
 'BIMI': 8.182500000000001,
 'BLBD': 9.9,
 'BOCH': 37.5,
 'CASLQ': 10.3375,
 'CCNE': 14.225000000000001,
 'CHUC': 11.979,
 'CIDM': 6.25,
 'COFS': 11.607999999999999,
 'CPAH': 11.830749999999998,
 'DRRX': 1.4045,
 'DYNT': 8.03325,
 'EFOI': 1.64,
 'EMKR': 3.4232500000000003,
 'EVK': 0.002,
 'FBMS': 7.88,
 'FCCO': 1.8025000000000002,
 'GLG': 9.7075,
 'HCHC': 1.43,
 'INUV': 8.337499999999999,
 'KSPN': 19.9,
 'LIXT': 273.2625,
 'LUB': 5.71,
 'MPX': 17.45,
 'NOA': 6.0665000000000004,
 'OPCH': 13.350000000000001,
 'OTIVF': 9.2825,
 'OTRK': 16.7025,
 'PRHL': 0.045,
 'PRPH': 15.64,
 'PXLW': 2.45,
 'QUIK': 18.4025,
 'RAND': 0.018000000000000002,
 'RTWIQ': 7.145,
 'SHSP': 17.46,
 'TELL': 9.922500000000001,
 'TSQ': 7.266249999999999,
 'TTNP': 14.117999999999999,
 'USAP': 45.65625,
 'USAU': 2.7,
 'VBFC': 88.0,
 'VCYT': 2.66,
 'AERI': 11.015000000000002,
 'AKBA': 0.0675,
 'AMPE': 2389648.4375,
 'ASPU': 14.82575,
 'AVXL': 3.8825000000000003,
 'AWH': 2.011,
 'BDR': 1.03,
 'BSRC': 28.275,
 'CDOR': 6.97325,
 'CLFD': 39.5125,
 'CPSH': 1.0,
 'DMRC': 14.112499999999999,
 'ESXB': 36.74225,
 'FLXS': 18.147,
 'GLAD': 218.327,
 'GRIF': 3.53075,
 'GSTX': 0.042,
 'GTIM': 7.209999999999999,
 'INFU': 14.082500000000001,
 'INTZ': 11.4275,
 'LAND': 1080450.02175,
 'LEAT': 2.5999999999999996,
 'MATN': 27.755000000000003,
 'MFNC': 18.395,
 'NWPX': 0.19,
 'ORC': 0.2,
 'PFSW': 7.745,
 'PIRS': 0.018000000000000002,
 'PSHG': 16.325,
 'PURE': 8.395,
 'REED': 15.0,
 'SRNA': 12.855,
 'TGLS': 10.215,
 'VABK': 12.0225,
 'VIRC': 19.435000000000002,
 'AINC': 2.69,
 'AMRS': 15.74,
 'AMSC': 9.655,
 'AXGN': 37.7,
 'BLFS': 1.395,
 'BSGM': 0.5,
 'CBIO': 20.69,
 'CDMO': 15.75,
 'CLBS': 12.4,
 'CSBR': 7.2225,
 'CXDC': 13.299999999999999,
 'CXDO': 33.3,
 'CYRX': 309.0025,
 'DFFN': 9.735,
 'DGLY': 33.005,
 'DLHC': 6.194999999999999,
 'ESCA': 27.5,
 'IKNX': 0.14,
 'ISNS': 13.805250000000001,
 'LUVU': 14.5,
 'MGTI': 0.6,
 'NEPT': 40.45,
 'NSSC': 3.06825,
 'OPNT': 1.5,
 'OWCP': 19.89,
 'PATI': 3.51,
 'PAYS': 0.3,
 'RSPI': 4.9775,
 'SMIT': 8.92,
 'TGHI': 2.485,
 'USAT': 11.3,
 'WSTG': 20.862,
 'WSTL': 17.099999999999998,
 'ZAGG': 11.897499999999999,
 'ZEUS': 7.449999999999999,
 'AAOI': 6.2625,
 'ASPN': 1.5999999999999999,
 'AUMN': 1.25,
 'BABB': 2.575,
 'BKTI': 5.598,
 'BRN': 4.83775,
 'CRBP': 9.17,
 'CVLB': 0.3175,
 'DXLG': 6.09,
 'EFSI': 2.9425,
 'EQS': 3.1,
 'GIGA': 7.435,
 'GSS': 149.19,
 'HMG': 108.675,
 'ISR': 12.375,
 'JOUT': 1.97,
 'KIN': 30.265,
 'LINC': 12.8,
 'LMB': 2.8525,
 'MLSS': 8.11,
 'NEON': 332.79625,
 'NICK': 76.5875,
 'NSYS': 11.626,
 'OFLX': 0.18,
 'PBIP': 34.48725,
 'PDEX': 9.6125,
 'RAVE': 1.923,
 'RCKT': 17.0,
 'SAVA': 14.712500000000002,
 'SCKT': 51.175,
 'SIGA': 9.9,
 'SLNO': 4.23,
 'STCN': 3.2095000000000002,
 'STRL': 0.7650000000000001,
 'SVVC': 0.35,
 'TRT': 0.1,
 'URG': 7.780500000000001,
 'ACRX': 0.18,
 'CBKC': 11.37125,
 'CCEL': 22.0,
 'CDNA': 6.0,
 'CMTV': 14.530000000000001,
 'CPIX': 4.307499999999999,
 'CTSO': 1.65,
 'CVLY': 7.447500000000001,
 'DWSN': 28.255,
 'EGAN': 3.3000000000000003,
 'FEIM': 9.3575,
 'FXNC': 4.76,
 'GLYC': 1.8424999999999998,
 'HGSH': 3.716,
 'HOFT': 15.095,
 'HTBX': 10.125,
 'HURC': 15.765,
 'ISSC': 10.5825,
 'LAKE': 16.48,
 'LEE': 11.0975,
 'MAYS': 11.192499999999999,
 'MPAD': 6.660000000000001,
 'MTBC': 0.7475,
 'NHLD': 16.996,
 'NNVC': 15.11825,
 'NWFL': 17.1,
 'PFMT': 30.9625,
 'PPSI': 10.195,
 'RC': 14.4865,
 'SEAC': 11.53,
 'SGMA': 6.56,
 'UUU': 10.7825,
 'ACFN': 9.375,
 'ARMP': 4.08,
 'BBGI': 5.527500000000001,
 'CDXC': 1.88625,
 'CMT': 6.925000000000001,
 'CVM': 9.57,
 'DARE': 168.03,
 'DXYN': 1.14,
 'EPM': 0.0475,
 'ESSA': 2.5300000000000002,
 'FLL': 5.4,
 'FPI': 62.0,
 'GNSS': 7.670000000000001,
 'KEQU': 16.575249999999997,
 'KNWN': 11.9325,
 'LMRK': 50.81100000000001,
 'MRNS': 20.9125,
 'NBIO': 9.100000000000001,
 'ODC': 0.6715,
 'OEG': 3.3535000000000004,
 'PBIO': 1.7625,
 'PSTI': 0.9345,
 'SDPI': 63.224999999999994,
 'SIAF': 7084.0,
 'STRT': 0.008,
 'USEG': 0.15,
 'VERU': 0.8455,
 'ALBO': 0.4,
 'ASMB': 15.86625,
 'AXR': 2.28,
 'CRK': 491.25,
 'EDUC': 20.884999999999998,
 'LPCN': 9.219999999999999,
 'MSB': 15.433,
 'NAII': 80.075,
 'QUMU': 244.625,
 'SIMP': 9.8875,
 'SUNS': 1.9949999999999999,
 'TARA': 6.92,
 'WHF': 610.0,
 'AGRX': 27.207500000000003,
 'AKTS': 21.6,
 'ALOT': 4.891,
 'APEN': 0.38,
 'CDTX': 1051.98,
 'CDXS': 43.025,
 'CRGS': 60.66,
 'DSNY': 0.7885,
 'ENG': 9.2625,
 'ESP': 0.7215,
 'GALT': 1.95,
 'IDXG': 10.485,
 'IRIX': 54.89999999999999,
 'ITI': 12.9525,
 'KOR': 5.18,
 'NTRP': 0.03,
 'SNFCA': 9.294999999999998,
 'TACT': 2.4875,
 'XTNT': 8.885,
 'ZYXI': 6.682499999999999,
 'ACHV': 5.409999999999999,
 'ADUS': 8.867500000000001,
 'AFHIF': 6.965,
 'AMTY': 9.1275,
 'BRTX': 1.85,
 'CRVW': 3.85,
 'CZWI': 1.4125,
 'DZSI': 8.7875,
 'FNWB': 8.067499999999999,
 'IDN': 16.3035,
 'IMCI': 0.092,
 'ISIG': 10.9425,
 'LLEXQ': 24.5975,
 'MRCC': 265.1,
 'NETE': 0.83,
 'OCFC': 21.456000000000003,
 'PALT': 0.1,
 'REFR': 1.4249999999999998,
 'RGCO': 6.312499999999999,
 'WWR': 7.445,
 'BBW': 0.121,
 'BSTC': 2.4315,
 'BTN': 9.0125,
 'CKX': 24.425,
 'GHM': 23.0,
 'GIDYL': 5.06275,
 'HGG': 10.9525,
 'HWCC': 10.15,
 'LUNA': 5.3325,
 'MIND': 1.90025,
 'MITK': 4.5975,
 'TGC': 24.635,
 'TLYS': 145.6875,
 'UONE': 1.295,
 'VNRX': 2.6575,
 'WLFC': 16.85,
 'ZNOG': 16.9,
 'BMRC': 14.0225,
 'BWL.A': 3.911,
 'BYRN': 0.43,
 'CCUR': 0.2225,
 'CGIX': 2.8,
 'CHMI': 2.3575000000000004,
 'COHU': 26.95,
 'CTIB': 6.3925,
 'CYAN': 0.28,
 'FULO': 5.2875000000000005,
 'GMOLQ': 17.74675,
 'KFS': 7.3100000000000005,
 'MIXT': 10.43,
 'ORMP': 16.0,
 'ORRF': 14.285,
 'PFLT': 1.92,
 'PULM': 24.15,
 'RILY': 1.0375,
 'STKS': 1.3399999999999999,
 'TKOI': 4.46875,
 'TLRS': 1.09,
 'UTGN': 23.35,
 'VGZ': 2.5300000000000002,
 'ADMP': 7.459999999999999,
 'ANIX': 5.6225,
 'BLPH': 2.1,
 'CTHR': 1.5,
 'DTST': 3.1575,
 'EVFM': 0.205,
 'FNCB': 5.2575,
 'FSFG': 4.25,
 'GBCS': 4.6925,
 'HNNA': 14.907499999999999,
 'JCS': 0.41,
 'MVIS': 0.5399999999999999,
 'NERV': 25.980000000000004,
 'NRIM': 7.835,
 'NUVR': 1.55,
 'OVTZ': 0.52,
 'PNBK': 1.3125,
 'RNWK': 24.3275,
 'RVP': 0.08,
 'RYI': 12.0275,
 'SHYF': 1.3025,
 'SUMR': 0.07,
 'TRUP': 4.4182500000000005,
 'UNAM': 0.7674999999999998,
 'VTNR': 25.0,
 'WYY': 6.4375,
 'CIZN': 44.5725,
 'CREX': 2.7299999999999995,
 'GADS': 5.912000000000001,
 'GOVX': 6.05975,
 'GURE': 9.385,
 'MBCN': 0.2,
 'MDVL': 12.0475,
 'OXFD': 22.7575,
 'PLAG': 0.03,
 'TBK': 0.7,
 'ASRV': 3.5300000000000002,
 'BEEM': 41.5,
 'BKGM': 2.50225,
 'IROQ': 137.865,
 'LIND': 4.88,
 'MAGE': 2.4200000000000004,
 'NEWT': 23.68875,
 'NSPX': 14.55,
 'SKKY': 16.235,
 'TURN': 24.2325,
 'BLNK': 20.3525,
 'CAAS': 24.27,
 'GLXZ': 11.075,
 'IMH': 10.104,
 'IWSY': 9.1,
 'OBCI': 38.84825,
 'OCUP': 6.45,
 'PROV': 4.3774999999999995,
 'TSBK': 22.0,
 'VCSY': 3.25,
 'AGYS': 14.8,
 'ARTNA': 11.405,
 'BBI': 2.6575,
 'HBCP': 1.28075,
 'HCAP': 22.9575,
 'IMBI': 5.4775,
 'IVDN': 12.0775,
 'MDLY': 9.025500000000001,
 'OGEN': 7.833,
 'OPGN': 4.458,
 'PLX': 1.4325,
 'RVSB': 1.4125,
 'SNDD': 0.2,
 'SPRS': 11.0,
 'SVBI': 32.31,
 'UTI': 0.215,
 'VBLT': 13.37,
 'ELYS': 17.75,
 'ERII': 19.49,
 'GEOS': 5.970000000000001,
 'GWGH': 8.41,
 'MARK': 11.25,
 'NTN': 17.9,
 'TMRC': 6.0,
 'TSRI': 60.25,
 'AIKI': 2.625,
 'AKER': 17.93,
 'ATNM': 6.948,
 'CHMG': 7.6,
 'CSBB': 7.1575,
 'CWCO': 10.365,
 'FBSS': 1.0425,
 'GCBC': 10.0,
 'IEC': 10.6175,
 'LODE': 0.42,
 'MTEX': 1.865,
 'NWIN': 21.85,
 'SMED': 3.795,
 'TREC': 7.099,
 'UBCP': 18.52,
 'UG': 38.89,
 'AMSWA': 27.68,
 'APTS': 7.995,
 'AUTO': 18.24,
 'AXTI': 26.04,
 'BKYI': 2.255,
 'CSCW': 1.1424999999999998,
 'CVCY': 4.7515,
 'DLA': 10.9605,
 'GCEH': 3.7825,
 'HTGM': 13.44,
 'MARPS': 7.80275,
 'MCBC': 25.05,
 'MICT': 4.5825,
 'NWHM': 0.05,
 'OPOF': 8.58,
 'PCYG': 8.84,
 'PFBI': 41.15,
 'RSSS': 3.1275000000000004,
 'SLCT': 21.205,
 'SNMP': 16.6825,
 'SYNC': 1.5650000000000002,
 'TMQ': 8.65,
 'UNTY': 0.5,
 'VXRT': 7.375,
 'YGYI': 0.25,
 'BNET': 7.0625,
 'CDXI': 7.0725,
 'CGA': 3.43525,
 'FBIZ': 14.485000000000001,
 'FUSB': 0.9625,
 'GNCA': 7.675000000000001,
 'HFBL': 0.39999999999999997,
 'HSKA': 1.4974999999999998,
 'HTBK': 884687115.315,
 'ICBK': 15.05,
 'LPTH': 0.004,
 'MOJO': 6.6925,
 'NATH': 4.495,
 'NBY': 12.270000000000001,
 'ONCS': 0.62,
 'REEMF': 6.283499999999999,
 'SRAX': 26.43,
 'TENX': 1975.4989999999998,
 'WKHS': 13.192499999999999,
 'ABEO': 9.7525,
 'ACUR': 9.5675,
 'AMNB': 28.3825,
 'AWRE': 0.19,
 'BCLI': 19.717499999999998,
 'CVGI': 1.1724999999999999,
 'CYTR': 22.575,
 'DYNR': 8.10275,
 'FSBW': 8.3375,
 'HBMD': 7680.0,
 'HROW': 165.6825,
 'KRMD': 11.95,
 'LFVN': 3.44,
 'MBOT': 0.435,
 'MCCX': 14.9,
 'NMRD': 0.32,
 'PED': 0.2755,
 'QDMI': 4.14,
 'QRHC': 0.28750000000000003,
 'SMID': 0.39499999999999996,
 'UFPT': 0.38,
 'VRME': 7.39775,
 'ZIVO': 49.0625,
 'ACY': 2.7575000000000003,
 'AOSL': 0.01,
 'AP': 0.6174999999999999,
 'ATRX': 58.78,
 'AXIM': 5.165,
 'BFYT': 2.7474999999999996,
 'CLCS': 2.7025,
 'CLRO': 5.775,
 'CLSN': 21.311249999999998,
 'COMS': 3.395,
 'CYDY': 3050000.0,
 'DLYT': 0.25,
 'EBTC': 8.187750000000001,
 'ELTP': 0.13,
 'ESWB': 0.9175,
 'FMNB': 8.1675,
 'FRD': 0.04,
 'FSI': 0.725,
 'GARS': 30.56,
 'GVP': 3.0475,
 'INLX': 2.295,
 'JOB': 3.4749999999999996,
 'KTRA': 4.9945,
 'LIQT': 1.1,
 'MRMD': 2.461,
 'MSRT': 1.08,
 'NMGX': 7.37075,
 'NTWK': 0.07,
 'NVFY': 16.45,
 'PCYN': 1.065,
 'PMD': 7.25,
 'PNRG': 5.95,
 'QSEP': 2.4225000000000003,
 'QTXB': 1.5900000000000003,
 'RSSV': 7.765000000000001,
 'SENR': 45.825,
 'SKVI': 0.077,
 'SMGI': 12.057500000000001,
 'SMME': 1.76,
 'SWKH': 22.785,
 'TIKK': 5.58,
 'TKLS': 12.95,
 'TOFB': 11.4,
 'UWHR': 11.53025,
 'VVUSQ': 25.548750000000002,
 'WARM': 3.39,
 'WINT': 27.0,
 'WNEB': 11.52,
 'XELB': 12.19,
 'XXII': 10.8675,
 'BICX': 0.01,
 'BSQR': 8.345,
 'BSTG': 27.48125,
 'CFRX': 11.7925,
 'FMBM': 3.7800000000000002,
 'FONR': 12.8,
 'GAHC': 0.04,
 'IPDN': 89.775,
 'IRT': 0.3,
 'ITP': 8.30475,
 'LGL': 1188.601,
 'MKRS': 1.0175,
 'NSEC': 0.085,
 'NTIP': 13.122499999999999,
 'OFED': 19.53,
 'PRTS': 14.352500000000001,
 'RLGT': 1.5,
 'SSY': 0.32,
 'TLFA': 72.0,
 'ZSAN': 7.4975000000000005,
 'AMS': 8.85,
 'AMTX': 0.35,
 'ANDR': 3.875,
 'APYX': 0.6,
 'ARDX': 11.43,
 'ATRS': 12.67725,
 'BIOC': 457.5,
 'BIOL': 6.9,
 'CAPR': 0.615,
 'CRMZ': 14.55,
 'CTEK': 3.7779999999999996,
 'DGII': 5.944,
 'DRAD': 17.1875,
 'EKSO': 7.65,
 'EMAN': 4.91,
 'ENSV': 2.025,
 'EVOL': 8.82,
 'FRPH': 7.54525,
 'HGEN': 0.64,
 'HQI': 13.85,
 'HUSA': 11.764999999999999,
 'INOD': 18.09275,
 'INTT': 30.4375,
 'IPWR': 75.975,
 'LAWS': 8.81,
 'LCTC': 329.6545,
 'LEDS': 3.5025000000000004,
 'LTRX': 2.7385,
 'NAVB': 33.85,
 'NKSH': 2.09375,
 'NTIC': 12.3105,
 'NVEE': 11.9525,
 'PFIN': 0.32,
 'PRPO': 0.2,
 'RM': 2.35,
 'SALM': 6.547499999999999,
 'SLNG': 0.36749999999999994,
 'SMLR': 9.19625,
 'SSKN': 5.1925,
 'SYPR': 103.2495,
 'TGEN': 1179.44,
 'TOMZ': 11.1575,
 'VISL': 0.215,
 'WHLM': 0.147,
 'YTEN': 2.0949999999999998,
 'AAME': 2.8225,
 'ARTH': 5.63,
 'AUBN': 180.0,
 'BBQ': 0.6,
 'CHFS': 4.9025,
 'CLPT': 4.675000000000001,
 'CPST': 7.5775,
 'CWBC': 0.07,
 'EVOK': 0.08,
 'GAIA': 0.66925,
 'GEVO': 0.54,
 'GIFI': 13.905,
 'IHC': 21.45,
 'ISTR': 0.035,
 'JCAP': 2.3225,
 'LYTS': 4.1625000000000005,
 'MMAC': 6.6842500000000005,
 'NATR': 3.17,
 'NLST': 14.274999999999999,
 'OXBR': 0.14,
 'PHIO': 66.625,
 'PTMN': 0.05,
 'RESN': 6.25,
 'TRNS': 1.94,
 'TTLO': 39.0,
 'TWIN': 1.0675000000000001,
 'VEC': 29.896,
 'ALIM': 0.1775,
 'AVEO': 16.7025,
 'AWX': 2.9974999999999996,
 'BHB': 0.03,
 'CARA': 15.0,
 'CIVB': 16.8,
 'CLDB': 2.9375,
 'CPRX': 2.2275,
 'DVD': 1599930.24325,
 'FALC': 1.6694999999999998,
 'FBIO': 9.54,
 'HGBL': 3.2175,
 'HIL': 0.20174999999999998,
 'III': 17.645,
 'IIN': 0.125,
 'MLVF': 4.185,
 'MOFG': 3.8075,
 'NSPR': 2.8,
 'NSTG': 1.27,
 'PFIE': 0.3670000000000001,
 'PME': 7.85,
 'PWFL': 5.96,
 'QCRH': 13.803999999999998,
 'SMBC': 35.28,
 'SRT': 72.35,
 'SYNL': 7.817499999999999,
 'TXJK': 8.567,
 'ZIXI': 0.18,
 'BGSF': 12.817499999999999,
 'BRG': 16.91,
 'BRID': 1.25,
 'CBFV': 9.3825,
 'EXTR': 10.5,
 'FCCY': 8.83,
 'GROW': 29.3125,
 'HMNF': 14.854999999999999,
 'INVT': 3.5625,
 'JMP': 2.6900000000000004,
 'KFFB': 1.4849999999999999,
 'KINS': 3.2300000000000004,
 'MOSY': 14.0025,
 'OFS': 3.0,
 'PAR': 1.7137499999999999,
 'PCTI': 72.9,
 'PLPC': 5.99,
 'RIVE': 0.2,
 'SCX': 1.12525,
 'SMBK': 7.579999999999999,
 'TCX': 1.3150000000000002,
 'ULBI': 1.325,
 'UNB': 2.315,
 'WBBW': 66.525,
 'AE': 13.524999999999999,
 'AJX': 9.8275,
 'ALDX': 12.28,
 'APT': 10.5975,
 'BRT': 5.065,
 'CALA': 0.71,
 'CCBG': 10.655000000000001,
 'CIO': 15.0275,
 'CPSS': 10.370000000000001,
 'DVCR': 7.8100000000000005,
 'ECIA': 5.6025,
 'ECOM': 14.375,
 'ELOX': 30.9525,
 'EMGCQ': 8.96,
 'FVE': 0.34875,
 'GDEN': 2.14,
 'GLBZ': 0.16,
 'HDSN': 18.2,
 'HEAR': 5.1312500000000005,
 'HSON': 23.0,
 'HWBK': 6.40125,
 'ICAD': 1.7774999999999999,
 'INS': 1.43,
 'JYNT': 4.217499999999999,
 'MRIN': 17.595,
 'MTEM': 8.2,
 'MXC': 5.585,
 'OESX': 5.585999999999999,
 'PCSA': 7.5025,
 'PESI': 8.044999999999998,
 'PRDO': 0.14650000000000002,
 'RIBT': 15.0,
 'SAMG': 150.0,
 'SBFG': 22.698,
 'SMTX': 3.6437500000000003,
 'UPLD': 0.8075,
 'VCEL': 1.8399999999999999,
 'VOXX': 0.146,
 'WLDN': 0.45999999999999996,
 'XENE': 65.3,
 'XONE': 8.272499999999999,
 'AHH': 12.575000000000001,
 'APEX': 4.97225,
 'BELFA': 34.0,
 'BWEN': 13.675,
 'CIA': 12.545,
 'CIX': 0.19574999999999998,
 'CRY': 22.45,
 'CUTR': 9.307500000000001,
 'ICMB': 10.559750000000001,
 'ITIC': 15.863,
 'LTBR': 26.607499999999998,
 'MCHX': 9.815000000000001,
 'MGYR': 2.965,
 'MLP': 0.01,
 'NHTC': 14.825,
 'RLH': 15.0,
 'SENEA': 17.0325,
 'SGA': 5.9425,
 'SMSI': 1.54,
 'SPKE': 11.175,
 'TIPT': 3.6574999999999998,
 'UMH': 4.335000000000001,
 'AMRK': 4.6825,
 'CPTA': 9.152500000000002,
 'GAIN': 3.8075,
 'HRZN': 2.9275,
 'JAKK': 2.74,
 ...}

In [107]:
df

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated,Price
0,AAME,2015-01-02,3.990,4.03,3.980,4.03,11443.0,0.0,4.03,2018-06-13,4.00750
1,AAME,2015-01-05,3.900,4.01,3.900,4.01,13727.0,0.0,4.01,2018-06-13,3.95500
2,AAME,2015-01-06,3.950,3.95,3.750,3.92,9743.0,0.0,3.92,2018-06-13,3.89250
3,AAME,2015-01-07,3.899,3.92,3.870,3.92,1486.0,0.0,3.92,2018-06-13,3.90225
4,AAME,2015-01-08,3.920,3.95,3.915,3.95,2200.0,0.0,3.95,2018-06-13,3.93375
...,...,...,...,...,...,...,...,...,...,...,...
2397143,ZYXI,2020-12-14,13.100,13.59,13.100,13.34,446678.0,0.0,13.34,2020-12-14,13.28250
2397144,ZYXI,2020-12-15,13.450,13.45,13.030,13.18,372095.0,0.0,13.18,2020-12-15,13.27750
2397145,ZYXI,2020-12-16,13.240,13.95,13.240,13.87,560581.0,0.0,13.87,2020-12-16,13.57500
2397146,ZYXI,2020-12-17,13.940,14.29,13.701,14.25,409889.0,0.0,14.25,2020-12-17,14.04525
2397147,ZYXI,2020-12-18,14.250,14.39,13.730,14.00,551332.0,0.0,14.00,2020-12-18,14.09250

In [109]:
df[df['ticker'] =='BCAR']

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated,Price
229311,BCAR,2015-01-02,0.140,0.140,0.130,0.140,44080.0,0.0,0.140,2018-06-13,0.1375
229312,BCAR,2015-01-05,0.140,0.150,0.135,0.135,101798.0,0.0,0.135,2018-06-13,0.1400
229313,BCAR,2015-01-06,0.140,0.140,0.135,0.135,42469.0,0.0,0.135,2018-06-13,0.1375
229314,BCAR,2015-01-07,0.140,0.150,0.140,0.140,606992.0,0.0,0.140,2018-06-13,0.1425
229315,BCAR,2015-01-08,0.140,0.140,0.140,0.140,69800.0,0.0,0.140,2018-06-13,0.1400
...,...,...,...,...,...,...,...,...,...,...,...
229453,BCAR,2015-07-28,0.135,0.135,0.135,0.135,0.0,0.0,0.135,2018-10-16,0.1350
229454,BCAR,2015-07-29,0.135,0.135,0.135,0.135,5000.0,0.0,0.135,2018-06-13,0.1350
229455,BCAR,2015-07-30,0.134,0.134,0.134,0.134,1500.0,0.0,0.134,2018-06-13,0.1340
229456,BCAR,2015-07-31,0.134,0.134,0.134,0.134,1150.0,0.0,0.134,2018-06-13,0.1340
229457,BCAR,2015-08-03,0.134,0.136,0.134,0.134,13107.0,0.0,0.134,2018-06-13,0.1345

In [126]:
df.head(100)

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated,Price
0,AAME,2015-01-02,3.990,4.030,3.980,4.030,11443.0,0.00,4.030,2018-06-13,4.00750
1,AAME,2015-01-05,3.900,4.010,3.900,4.010,13727.0,0.00,4.010,2018-06-13,3.95500
2,AAME,2015-01-06,3.950,3.950,3.750,3.920,9743.0,0.00,3.920,2018-06-13,3.89250
3,AAME,2015-01-07,3.899,3.920,3.870,3.920,1486.0,0.00,3.920,2018-06-13,3.90225
4,AAME,2015-01-08,3.920,3.950,3.915,3.950,2200.0,0.00,3.950,2018-06-13,3.93375
5,AAME,2015-01-09,3.950,4.010,3.940,4.000,3651.0,0.00,4.000,2018-06-13,3.97500
6,AAME,2015-01-12,4.000,4.000,4.000,4.000,1027.0,0.00,4.000,2018-06-13,4.00000
7,AAME,2015-01-13,3.910,4.000,3.910,4.000,1311.0,0.00,4.000,2018-06-13,3.95500
8,AAME,2015-01-14,3.890,4.000,3.890,4.000,220.0,0.00,4.000,2018-06-13,3.94500
9,AAME,2015-01-15,3.900,4.000,3.800,3.940,8475.0,0.00,3.940,2018-06-13,3.91000
10,AAME,2015-01-16,3.980,4.000,3.810,4.000,1150.0,0.00,4.000,2018-06-13,3.94750
11,AAME,2015-01-20,3.821,3.990,3.821,3.990,1107.0,0.00,3.990,2018-06-13,3.90550
12,AAME,2015-01-21,3.990,3.990,3.990,3.990,33.0,0.00,3.990,2018-06-13,3.99000
13,AAME,2015-01-22,3.820,4.000,3.820,4.000,6880.0,0.00,4.000,2018-06-13,3.91000
14,AAME,2015-01-23,3.850,3.880,3.850,3.880,1300.0,0.00,3.880,2018-06-13,3.86500
15,AAME,2015-01-26,3.960,3.990,3.870,3.870,1422.0,0.00,3.870,2018-06-13,3.92250
16,AAME,2015-01-27,3.970,3.990,3.970,3.990,700.0,0.00,3.990,2018-06-13,3.98000
17,AAME,2015-01-28,3.903,4.000,3.903,4.000,2593.0,0.00,4.000,2018-06-13,3.95150
18,AAME,2015-01-29,3.900,3.900,3.900,3.900,400.0,0.00,3.900,2018-06-13,3.90000
19,AAME,2015-01-30,3.790,3.990,3.790,3.990,4236.0,0.00,3.990,2018-06-13,3.89000
20,AAME,2015-02-02,3.970,3.990,3.970,3.990,500.0,0.00,3.990,2018-06-13,3.98000
21,AAME,2015-02-03,3.900,3.990,3.900,3.911,524.0,0.00,3.911,2018-06-13,3.92525
22,AAME,2015-02-04,3.990,4.000,3.970,3.970,2458.0,0.00,3.970,2018-06-13,3.98250
23,AAME,2015-02-05,4.000,4.020,3.990,3.990,1032.0,0.00,3.990,2018-06-13,4.00000
24,AAME,2015-02-06,3.990,3.990,3.860,3.990,3445.0,0.00,3.990,2018-06-13,3.95750
25,AAME,2015-02-09,3.970,3.980,3.884,3.980,3872.0,0.00,3.980,2018-06-13,3.95350
26,AAME,2015-02-10,3.980,3.980,3.980,3.980,0.0,0.00,3.980,2020-07-01,3.98000
27,AAME,2015-02-11,3.820,3.980,3.820,3.960,5433.0,0.00,3.960,2018-06-13,3.89500
28,AAME,2015-02-12,3.980,3.980,3.970,3.970,1100.0,0.00,3.970,2018-06-13,3.97500
29,AAME,2015-02-13,3.970,3.980,3.830,3.960,2310.0,0.00,3.960,2018-06-13,3.93500
30,AAME,2015-02-17,3.970,4.010,3.861,3.910,5091.0,0.00,3.910,2018-06-13,3.93775
31,AAME,2015-02-18,3.857,3.990,3.857,3.990,799.0,0.00,3.990,2018-06-13,3.92350
32,AAME,2015-02-19,3.910,3.960,3.830,3.900,8332.0,0.00,3.900,2018-06-13,3.90000
33,AAME,2015-02-20,3.970,3.990,3.970,3.990,746.0,0.00,3.990,2018-06-13,3.98000
34,AAME,2015-02-23,3.990,4.010,3.990,4.010,1825.0,0.00,4.010,2018-06-13,4.00000
35,AAME,2015-02-24,3.940,4.030,3.940,4.020,1225.0,0.00,4.020,2018-06-13,3.98250
36,AAME,2015-02-25,4.020,4.020,4.020,4.020,91.0,0.00,4.020,2018-06-13,4.02000
37,AAME,2015-02-26,3.950,4.020,3.910,4.020,2385.0,0.00,4.020,2018-06-13,3.97500
38,AAME,2015-02-27,4.020,4.030,3.926,4.000,2563.0,0.00,4.000,2018-06-13,3.99400
39,AAME,2015-03-02,4.020,4.020,3.974,4.020,1738.0,0.00,4.020,2018-06-13,4.00850
40,AAME,2015-03-03,4.020,4.080,3.930,4.026,4037.0,0.00,4.026,2018-06-13,4.01400
41,AAME,2015-03-04,4.060,4.060,3.928,3.928,606.0,0.00,3.928,2018-06-13,3.99400
42,AAME,2015-03-05,3.990,3.990,3.980,3.980,1218.0,0.00,3.980,2018-06-13,3.98500
43,AAME,2015-03-06,4.020,4.020,3.940,3.970,4064.0,0.00,3.970,2018-06-13,3.98750
44,AAME,2015-03-09,3.970,4.020,3.970,4.010,1426.0,0.00,4.010,2018-06-13,3.99250
45,AAME,2015-03-10,4.020,4.020,4.010,4.010,1159.0,0.00,4.010,2018-06-13,4.01500
46,AAME,2015-03-11,4.020,4.050,3.900,3.920,4599.0,0.00,3.920,2018-06-13,3.97250
47,AAME,2015-03-12,4.020,4.020,3.980,3.990,4096.0,0.00,3.990,2018-06-13,4.00250
48,AAME,2015-03-13,4.020,4.020,4.020,4.020,1269.0,0.00,4.020,2018-06-13,4.02000
49,AAME,2015-03-16,4.020,4.020,4.020,4.020,1037.0,0.00,4.020,2018-06-13,4.02000
50,AAME,2015-03-17,4.000,4.020,4.000,4.020,8900.0,0.00,4.020,2018-06-13,4.01000
51,AAME,2015-03-18,4.020,4.050,4.020,4.040,971.0,0.00,4.040,2018-06-13,4.03250
52,AAME,2015-03-19,4.000,4.040,3.980,4.030,5557.0,0.00,4.030,2018-06-13,4.01250
53,AAME,2015-03-20,3.980,4.080,3.916,3.950,7541.0,0.00,3.950,2018-06-13,3.98150
54,AAME,2015-03-23,3.940,4.050,3.940,4.050,2819.0,0.00,4.050,2018-06-13,3.99500
55,AAME,2015-03-24,4.010,4.050,4.010,4.050,1853.0,0.00,4.050,2018-06-13,4.03000
56,AAME,2015-03-25,4.050,4.050,3.940,3.940,1139.0,0.00,3.940,2018-06-13,3.99500
57,AAME,2015-03-26,3.975,4.020,3.970,4.020,908.0,0.00,4.020,2018-06-13,3.99625
58,AAME,2015-03-27,3.960,3.960,3.960,3.960,102.0,0.00,3.960,2018-06-13,3.96000
59,AAME,2015-03-30,3.960,4.030,3.940,4.030,2586.0,0.00,4.030,2018-06-13,3.99000
60,AAME,2015-03-31,4.050,4.050,4.020,4.030,7424.0,0.00,4.030,2018-06-13,4.03750
61,AAME,2015-04-01,3.960,3.980,3.960,3.980,710.0,0.00,3.980,2018-06-13,3.97000
62,AAME,2015-04-02,3.960,3.960,3.960,3.960,103.0,0.00,3.960,2018-06-13,3.96000
63,AAME,2015-04-06,3.960,3.960,3.960,3.960,313.0,0.00,3.960,2018-06-13,3.96000
64,AAME,2015-04-07,3.960,3.990,3.940,3.940,1526.0,0.00,3.940,2018-06-13,3.95750
65,AAME,2015-04-08,3.940,3.990,3.940,3.990,2966.0,0.00,3.990,2018-06-13,3.96500
66,AAME,2015-04-09,3.959,3.990,3.959,3.990,899.0,0.02,3.990,2018-06-13,3.97450
67,AAME,2015-04-10,3.990,4.000,3.980,4.000,4376.0,0.00,4.000,2018-06-13,3.99250
68,AAME,2015-04-13,3.998,4.000,3.950,4.000,2391.0,0.00,4.000,2018-06-13,3.98700
69,AAME,2015-04-14,4.000,4.000,4.000,4.000,0.0,0.00,4.000,2020-07-01,4.00000
70,AAME,2015-04-15,3.930,4.000,3.930,3.980,1821.0,0.00,3.980,2018-06-13,3.96000
71,AAME,2015-04-16,3.970,3.970,3.970,3.970,112.0,0.00,3.970,2018-06-13,3.97000
72,AAME,2015-04-17,3.950,3.960,3.950,3.960,502.0,0.00,3.960,2018-06-13,3.95500
73,AAME,2015-04-20,3.970,3.970,3.970,3.970,142.0,0.00,3.970,2018-06-13,3.97000
74,AAME,2015-04-21,3.909,3.960,3.909,3.960,669.0,0.00,3.960,2018-06-13,3.93450
75,AAME,2015-04-22,3.960,3.960,3.960,3.960,150.0,0.00,3.960,2018-06-13,3.96000
76,AAME,2015-04-23,3.930,3.960,3.930,3.960,916.0,0.00,3.960,2018-06-13,3.94500
77,AAME,2015-04-24,3.960,3.960,3.960,3.960,907.0,0.00,3.960,2018-06-13,3.96000
78,AAME,2015-04-27,3.960,3.970,3.960,3.970,1284.0,0.00,3.970,2018-06-13,3.96500
79,AAME,2015-04-28,3.960,3.970,3.960,3.970,1219.0,0.00,3.970,2018-06-13,3.96500
80,AAME,2015-04-29,3.904,3.960,3.904,3.960,311.0,0.00,3.960,2018-06-13,3.93200
81,AAME,2015-04-30,3.960,3.960,3.960,3.960,507.0,0.00,3.960,2018-06-13,3.96000
82,AAME,2015-05-01,3.960,3.960,3.960,3.960,52.0,0.00,3.960,2018-06-13,3.96000
83,AAME,2015-05-04,3.960,3.960,3.960,3.960,7.0,0.00,3.960,2018-06-13,3.96000
84,AAME,2015-05-05,3.960,3.960,3.880,3.960,5911.0,0.00,3.960,2018-06-13,3.94000
85,AAME,2015-05-06,3.920,3.970,3.880,3.970,4019.0,0.00,3.970,2018-06-13,3.93500
86,AAME,2015-05-07,3.890,3.960,3.890,3.960,982.0,0.00,3.960,2018-06-13,3.92500
87,AAME,2015-05-08,3.900,3.960,3.850,3.930,5774.0,0.00,3.930,2018-06-13,3.91000
88,AAME,2015-05-11,3.800,3.930,3.790,3.800,5867.0,0.00,3.800,2018-06-13,3.83000
89,AAME,2015-05-12,3.890,3.890,3.800,3.850,4728.0,0.00,3.850,2018-06-13,3.85750
90,AAME,2015-05-13,3.790,3.815,3.750,3.790,2480.0,0.00,3.790,2018-06-13,3.78625
91,AAME,2015-05-14,3.830,3.830,3.701,3.720,3104.0,0.00,3.720,2018-06-13,3.77025
92,AAME,2015-05-15,3.810,3.810,3.570,3.610,4524.0,0.00,3.610,2018-06-13,3.70000
93,AAME,2015-05-18,3.550,3.710,3.510,3.690,4902.0,0.00,3.690,2018-06-13,3.61500
94,AAME,2015-05-19,3.620,3.650,3.600,3.600,2600.0,0.00,3.600,2018-06-13,3.61750
95,AAME,2015-05-20,3.511,3.590,3.380,3.510,9265.0,0.00,3.510,2018-06-13,3.49775
96,AAME,2015-05-21,3.475,3.475,3.300,3.400,6271.0,0.00,3.400,2018-06-13,3.41250
97,AAME,2015-05-22,3.390,3.400,3.330,3.400,3822.0,0.00,3.400,2018-06-13,3.38000
98,AAME,2015-05-26,3.400,3.400,3.160,3.270,12580.0,0.00,3.270,2018-06-13,3.30750
99,AAME,2015-05-27,3.190,3.270,3.090,3.130,24281.0,0.00,3.130,2018-06-13,3.17000

In [119]:
df.isnull().sum()

ticker         0
date           0
open           0
high           0
low            0
close          0
volume         0
dividends      0
closeunadj     0
lastupdated    0
Price          0
dtype: int64

In [116]:
if 'BCAR' in price_mapping:
  print("yes")
else:
  print("no")

no

In [104]:
base_mapping = np.array(list(map(lambda x : price_mapping[x], df['ticker'].values)))
df['Growth'] = df['Price'] / base_mapping - 1

#how do i make lambda pass if the ticker doesn't exist at the time i specify?

KeyError: 'BCAR'

## Time Series Analysis
- we want to find out the top 5 best and worst performing stocks during our chosen time period

In [14]:
sample_dates = pd.date_range(start='2015-01-02', end='2020-12-18', freq='B')

In [15]:
year_end_dates = sample_dates[sample_dates.is_year_end]
year_end_dates
# we take then end of the year for each period, except for the year

DatetimeIndex(['2015-12-31', '2016-12-30', '2017-12-29', '2018-12-31',
               '2019-12-31'],
              dtype='datetime64[ns]', freq=None)

In [16]:
type(year_end_dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
 need to add this into year_end_dates('2020-12-18')

SyntaxError: invalid syntax (<ipython-input-17-89c9475ab75f>, line 1)

In [ ]:
worst_stocks = price_volume_sorted[price_volume_sorted.date == price_volume_sorted.date.max()].sort_values('Growth').head(5)

In [ ]:
price_volume_sorte

In [ ]:
price_volume_sorted.set_index('date', inplace=True)