In [1]:
import pandas as pd
import numpy as np

In [2]:
cutoff = pd.read_csv('../dataset/sue_cutoffs.csv')
sue = pd.read_csv('../dataset/sue.csv')

In [3]:
cutoff

,Unnamed: 0,10,15,20,25,30,40,50,60,70,75,80,85,90
0,2020-09-30,-1.050526,-0.790363,-0.593919,-0.418167,-0.255659,0.021388,0.234579,0.493639,0.729288,0.844249,0.984037,1.103257,1.253413
1,2020-06-30,-1.340478,-1.032865,-0.796231,-0.624191,-0.456102,-0.201830,0.026121,0.273505,0.536590,0.712037,0.903405,1.057309,1.254312
2,2020-03-31,-1.687992,-1.530156,-1.317197,-1.177030,-0.995477,-0.673934,-0.410459,-0.154540,0.113086,0.250162,0.410787,0.626028,0.865461
3,2019-12-31,-1.385456,-1.117439,-0.912733,-0.777937,-0.666314,-0.442820,-0.221473,-0.019972,0.276115,0.389108,0.554600,0.673910,0.919029
4,2019-09-30,-1.114879,-0.863696,-0.686471,-0.578092,-0.510715,-0.312939,-0.160197,0.013662,0.266295,0.410304,0.520202,0.666667,0.857987
5,2019-06-30,-1.156324,-0.910319,-0.753722,-0.609667,-0.492419,-0.323733,-0.151136,0.049008,0.259993,0.404298,0.587048,0.757616,0.900849
6,2019-03-31,-1.341942,-1.083083,-0.913234,-0.779679,-0.656378,-0.415822,-0.225242,-0.002442,0.207372,0.362976,0.516584,0.705942,0.917752
7,2018-12-31,-1.477557,-1.203776,-1.011575,-0.838085,-0.707820,-0.456940,-0.224830,0.000621,0.293371,0.420982,0.592447,0.742168,0.962857
8,2018-09-30,-1.211399,-0.967199,-0.751826,-0.567422,-0.422816,-0.203515,0.028679,0.264889,0.471038,0.581833,0.682073,0.875516,1.057628
9,2018-06-30,-1.137123,-0.909926,-0.739639,-0.623188,-0.471179,-0.166067,0.116740,0.381698,0.638864,0.717271,0.830119,0.961164,1.142880
10,2018-03-31,-1.456071,-1.208787,-1.001526,-0.805124,-0.587794,-0.300512,0.000000,0.305794,0.595007,0.776849,0.920854,1.062474,1.214173
11,2017-12-31,-1.860488,-1.663459,-1.501022,-1.287255,-1.115639,-0.752820,-0.423051,-0.116902,0.173072,0.324530,0.571141,0.831345,1.094334
12,2017-09-30,-1.257868,-0.994401,-0.813153,-0.682937,-0.565382,-0.313222,-0.076667,0.139120,0.422406,0.539670,0.653952,0.819936,1.050443
13,2017-06-30,-1.214479,-0.957238,-0.826389,-0.700433,-0.578758,-0.335159,-0.125811,0.110284,0.381958,0.503767,0.666121,0.839370,0.997060

# Import Data

### Prices data

In [4]:
#read in prices data
df = pd.read_csv('../dataset/price_volume_sorted.csv')
df

        ticker        date   open   high    low  close     volume
0         AAME  2015-01-02  3.990  4.030  3.980  4.030    11443.0
1         AAME  2015-01-05  3.900  4.010  3.900  4.010    13727.0
2         AAME  2015-01-06  3.950  3.950  3.750  3.920     9743.0
3         AAME  2015-01-07  3.899  3.920  3.870  3.920     1486.0
4         AAME  2015-01-08  3.920  3.950  3.915  3.950     2200.0
...        ...         ...    ...    ...    ...    ...        ...
1266080   ZSAN  2020-12-14  0.661  0.673  0.630  0.648  3078592.0
1266081   ZSAN  2020-12-15  0.655  0.662  0.630  0.638  1594117.0
1266082   ZSAN  2020-12-16  0.633  0.645  0.598  0.607  1990734.0
1266083   ZSAN  2020-12-17  0.620  0.620  0.550  0.577  3141599.0
1266084   ZSAN  2020-12-18  0.575  0.610  0.575  0.583  2023953.0

[1266085 rows x 7 columns]

In [5]:
names = ['TCON','TMBR', 'TAT', 'BSTC','ZSAN','RCKT','TAT','LLEXQ','WSTL','NTRP','JCAP','RKDA','RMNI','PATI','ZEUS']
df = df[~df['ticker'].isin(names)]
df

        ticker        date   open   high    low  close     volume
0         AAME  2015-01-02  3.990  4.030  3.980  4.030    11443.0
1         AAME  2015-01-05  3.900  4.010  3.900  4.010    13727.0
2         AAME  2015-01-06  3.950  3.950  3.750  3.920     9743.0
3         AAME  2015-01-07  3.899  3.920  3.870  3.920     1486.0
4         AAME  2015-01-08  3.920  3.950  3.915  3.950     2200.0
...        ...         ...    ...    ...    ...    ...        ...
1264593   ZNOG  2020-12-14  1.020  1.080  1.000  1.000   992087.0
1264594   ZNOG  2020-12-15  1.010  1.020  0.801  0.810  3780405.0
1264595   ZNOG  2020-12-16  0.800  0.930  0.600  0.910  4584326.0
1264596   ZNOG  2020-12-17  0.945  0.945  0.860  0.902   835431.0
1264597   ZNOG  2020-12-18  0.910  0.910  0.810  0.860   770447.0

[1245593 rows x 7 columns]

In [6]:
price_volume_sorted_list = df['ticker'].unique().tolist()
#i need date, closing price, ticker
#also rename the column
prices = df.drop(columns = {'open','high','low','volume'})
prices.rename(columns={'ticker':'Ticker'}, inplace =True)

In [7]:
len(prices.Ticker.unique())

829

In [8]:
#change date column into datetime
prices['date']= pd.to_datetime(prices['date'],dayfirst=True)

In [9]:
prices.head()

  Ticker       date  close
0   AAME 2015-01-02   4.03
1   AAME 2015-01-05   4.01
2   AAME 2015-01-06   3.92
3   AAME 2015-01-07   3.92
4   AAME 2015-01-08   3.95

### Fundamentals Data

In [10]:
fundamentals= pd.read_csv('../dataset/fundamentals_filtered.csv')

In [11]:
# drop those with the names
names = ['TCON','TMBR', 'TAT', 'BSTC','ZSAN','RCKT','TAT','LLEXQ','WSTL','NTRP','JCAP','RKDA','RMNI','PATI','ZEUS']
fundamentals = fundamentals[~fundamentals['ticker'].isin(names)]
fundamentals

,datekey,ticker,dimension,calendardate,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
23,2020-11-12,ZNOG,ARQ,2020-09-30,2020-09-30,2020-11-12,0.0,39391000.0,NaN,21994000.0,...,234621569.0,202877000.0,202877000.0,0.000,39391000.0,0.0,0.0,0.0,0.194,17276000.0
24,2020-08-10,ZNOG,ARQ,2020-06-30,2020-06-30,2020-11-12,0.0,27875000.0,NaN,10960000.0,...,205333221.0,172361000.0,172361000.0,0.000,27875000.0,0.0,0.0,0.0,0.162,6543000.0
25,2020-05-11,ZNOG,ARQ,2020-03-31,2020-03-31,2020-11-12,0.0,26176000.0,NaN,9649000.0,...,173367104.0,138813000.0,138813000.0,0.000,26176000.0,0.0,0.0,0.0,0.189,7832000.0
26,2020-03-27,ZNOG,ARQ,2019-12-31,2019-12-31,2020-11-12,0.0,18656000.0,NaN,6899000.0,...,161216944.0,81890000.0,81890000.0,0.000,18656000.0,0.0,0.0,0.0,0.228,5012000.0
27,2019-11-05,ZNOG,ARQ,2019-09-30,2019-09-30,2020-11-12,0.0,15585000.0,NaN,5789000.0,...,97617064.0,82001000.0,82001000.0,0.000,15585000.0,0.0,0.0,0.0,0.190,2987000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19384,2016-05-12,AAME,ARQ,2016-03-31,2016-03-31,2020-11-11,5561000.0,300133000.0,NaN,NaN,...,20419486.0,20419486.0,NaN,2.044,297589000.0,0.0,478000.0,175000.0,14.574,NaN
19385,2016-03-29,AAME,ARQ,2015-12-31,2015-12-31,2020-11-11,4584000.0,314603000.0,NaN,NaN,...,20394007.0,20394007.0,NaN,1.954,312059000.0,829000.0,30000.0,0.0,15.302,NaN
19386,2015-11-10,AAME,ARQ,2015-09-30,2015-09-30,2020-11-11,4807000.0,317203000.0,NaN,NaN,...,20547430.0,20547430.0,NaN,1.964,314659000.0,310000.0,127000.0,0.0,15.314,NaN
19387,2015-08-12,AAME,ARQ,2015-06-30,2015-06-30,2020-11-11,7235000.0,327225000.0,NaN,NaN,...,20592690.0,20592690.0,NaN,2.174,324681000.0,0.0,844000.0,338000.0,15.767,NaN
19388,2015-05-13,AAME,ARQ,2015-03-31,2015-03-31,2020-11-11,12379000.0,313185000.0,NaN,NaN,...,20573336.0,20573336.0,NaN,1.990,310641000.0,0.0,319000.0,3372000.0,15.099,NaN

In [12]:
fundamentals['calendardate'].unique()

array(['2020-09-30', '2020-06-30', '2020-03-31', '2019-12-31',
       '2019-09-30', '2019-06-30', '2019-03-31', '2018-12-31',
       '2018-09-30', '2018-06-30', '2018-03-31', '2017-12-31',
       '2017-09-30', '2017-06-30', '2017-03-31', '2016-12-31',
       '2016-09-30', '2016-06-30', '2016-03-31', '2015-12-31',
       '2015-09-30', '2015-06-30', '2015-03-31'], dtype=object)

In [13]:
#read in the earnings announcemnent date data
column_names = ['Ticker'] + list(fundamentals['calendardate'].unique())
ann_dates = pd.DataFrame(columns = column_names)
ann_dates['Ticker'] = fundamentals['ticker'].unique()

In [14]:
ann_dates

,Ticker,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30,2019-06-30,2019-03-31,2018-12-31,2018-09-30,...,2017-06-30,2017-03-31,2016-12-31,2016-09-30,2016-06-30,2016-03-31,2015-12-31,2015-09-30,2015-06-30,2015-03-31
0,ZNOG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZIVO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZGNX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZAGG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YEWB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,ABMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825,ABIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,ABEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,ABCP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,AAME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
ann_per_ticker = fundamentals.groupby('ticker')['datekey'].apply(list).to_dict()

In [16]:
ann_per_ticker_transposed = pd.DataFrame(ann_per_ticker).transpose()
ann_per_ticker_transposed.reset_index(inplace=True)
ann_per_ticker_transposed

# ann_per_ticker_transposed.rename(columns = {'index':'Ticker'})

,index,0,1,2,3,4,5,6,7,8,...,13,14,15,16,17,18,19,20,21,22
0,AAME,2020-11-10,2020-08-11,2020-05-11,2020-03-24,2019-11-12,2019-08-13,2019-05-13,2019-04-01,2018-11-13,...,2017-08-14,2017-05-12,2017-03-24,2016-11-14,2016-08-12,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
1,ABCP,2020-11-10,2020-08-10,2020-05-07,2020-03-25,2019-11-12,2019-08-12,2019-05-13,2019-03-27,2018-11-09,...,2017-08-11,2017-05-11,2017-03-30,2016-11-08,2016-08-11,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
2,ABEO,2020-11-09,2020-08-10,2020-05-06,2020-03-16,2019-11-12,2019-08-09,2019-05-10,2019-03-18,2018-11-09,...,2017-08-14,2017-05-15,2017-03-30,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-14
3,ABIO,2020-11-02,2020-08-05,2020-05-06,2020-02-18,2019-11-06,2019-08-01,2019-05-08,2019-02-27,2018-11-14,...,2017-08-03,2017-05-15,2017-03-21,2016-11-14,2016-08-09,2016-05-11,2016-03-17,2015-11-12,2015-08-11,2015-05-12
4,ABMC,2020-11-16,2020-09-15,2020-07-31,2020-06-26,2019-11-14,2019-08-14,2019-05-20,2019-04-16,2018-11-13,...,2017-08-14,2017-05-15,2017-03-31,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,YEWB,2020-11-13,2020-08-14,2020-06-29,2020-05-14,2019-11-14,2019-08-13,2019-05-22,2019-05-07,2018-11-19,...,2017-08-14,2017-05-15,2017-03-31,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-18,2015-05-14
825,ZAGG,2020-11-09,2020-08-04,2020-05-28,2020-03-16,2019-11-07,2019-08-07,2019-05-08,2019-03-14,2018-11-07,...,2017-08-03,2017-05-04,2017-03-09,2016-11-02,2016-08-03,2016-05-10,2016-03-08,2015-11-04,2015-08-05,2015-05-06
826,ZGNX,2020-11-09,2020-08-06,2020-05-06,2020-03-02,2019-11-07,2019-08-06,2019-05-09,2019-02-28,2018-11-08,...,2017-08-08,2017-05-04,2017-03-10,2016-11-08,2016-08-09,2016-05-10,2016-03-15,2015-11-09,2015-08-10,2015-05-11
827,ZIVO,2020-11-12,2020-08-13,2020-05-11,2020-03-26,2019-10-28,2019-08-07,2019-05-13,2019-02-12,2018-11-14,...,2017-08-11,2017-05-12,2017-03-31,2016-11-14,2016-08-12,2016-05-13,2016-03-29,2015-11-13,2015-08-13,2015-05-13
828,ZNOG,2020-11-12,2020-08-10,2020-05-11,2020-03-27,2019-11-05,2019-08-07,2019-05-14,2019-03-08,2018-11-08,...,2017-08-11,2017-05-09,2017-03-14,2016-11-10,2016-08-09,2016-05-16,2016-03-15,2015-11-10,2015-08-03,2015-05-07

In [17]:
#change the column names
ann_per_ticker_transposed.rename(columns=dict(zip(ann_per_ticker_transposed.columns,column_names)), inplace = True)
# df.rename(columns=dict(zip(df.columns,l)))

#the column names are the calendar date that the earnings are supposed to represent, 
#and the dates below are the announcement dates
ann_per_ticker_transposed.head()

,Ticker,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30,2019-06-30,2019-03-31,2018-12-31,2018-09-30,...,2017-06-30,2017-03-31,2016-12-31,2016-09-30,2016-06-30,2016-03-31,2015-12-31,2015-09-30,2015-06-30,2015-03-31
0,AAME,2020-11-10,2020-08-11,2020-05-11,2020-03-24,2019-11-12,2019-08-13,2019-05-13,2019-04-01,2018-11-13,...,2017-08-14,2017-05-12,2017-03-24,2016-11-14,2016-08-12,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
1,ABCP,2020-11-10,2020-08-10,2020-05-07,2020-03-25,2019-11-12,2019-08-12,2019-05-13,2019-03-27,2018-11-09,...,2017-08-11,2017-05-11,2017-03-30,2016-11-08,2016-08-11,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
2,ABEO,2020-11-09,2020-08-10,2020-05-06,2020-03-16,2019-11-12,2019-08-09,2019-05-10,2019-03-18,2018-11-09,...,2017-08-14,2017-05-15,2017-03-30,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-14
3,ABIO,2020-11-02,2020-08-05,2020-05-06,2020-02-18,2019-11-06,2019-08-01,2019-05-08,2019-02-27,2018-11-14,...,2017-08-03,2017-05-15,2017-03-21,2016-11-14,2016-08-09,2016-05-11,2016-03-17,2015-11-12,2015-08-11,2015-05-12
4,ABMC,2020-11-16,2020-09-15,2020-07-31,2020-06-26,2019-11-14,2019-08-14,2019-05-20,2019-04-16,2018-11-13,...,2017-08-14,2017-05-15,2017-03-31,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-15

# Preprocessing for Backtesting

In [18]:
sue_ticker_index = sue.copy()
# sue_ticker_index.set_index('Ticker')

In [19]:
cutoff

,Unnamed: 0,10,15,20,25,30,40,50,60,70,75,80,85,90
0,2020-09-30,-1.050526,-0.790363,-0.593919,-0.418167,-0.255659,0.021388,0.234579,0.493639,0.729288,0.844249,0.984037,1.103257,1.253413
1,2020-06-30,-1.340478,-1.032865,-0.796231,-0.624191,-0.456102,-0.201830,0.026121,0.273505,0.536590,0.712037,0.903405,1.057309,1.254312
2,2020-03-31,-1.687992,-1.530156,-1.317197,-1.177030,-0.995477,-0.673934,-0.410459,-0.154540,0.113086,0.250162,0.410787,0.626028,0.865461
3,2019-12-31,-1.385456,-1.117439,-0.912733,-0.777937,-0.666314,-0.442820,-0.221473,-0.019972,0.276115,0.389108,0.554600,0.673910,0.919029
4,2019-09-30,-1.114879,-0.863696,-0.686471,-0.578092,-0.510715,-0.312939,-0.160197,0.013662,0.266295,0.410304,0.520202,0.666667,0.857987
5,2019-06-30,-1.156324,-0.910319,-0.753722,-0.609667,-0.492419,-0.323733,-0.151136,0.049008,0.259993,0.404298,0.587048,0.757616,0.900849
6,2019-03-31,-1.341942,-1.083083,-0.913234,-0.779679,-0.656378,-0.415822,-0.225242,-0.002442,0.207372,0.362976,0.516584,0.705942,0.917752
7,2018-12-31,-1.477557,-1.203776,-1.011575,-0.838085,-0.707820,-0.456940,-0.224830,0.000621,0.293371,0.420982,0.592447,0.742168,0.962857
8,2018-09-30,-1.211399,-0.967199,-0.751826,-0.567422,-0.422816,-0.203515,0.028679,0.264889,0.471038,0.581833,0.682073,0.875516,1.057628
9,2018-06-30,-1.137123,-0.909926,-0.739639,-0.623188,-0.471179,-0.166067,0.116740,0.381698,0.638864,0.717271,0.830119,0.961164,1.142880
10,2018-03-31,-1.456071,-1.208787,-1.001526,-0.805124,-0.587794,-0.300512,0.000000,0.305794,0.595007,0.776849,0.920854,1.062474,1.214173
11,2017-12-31,-1.860488,-1.663459,-1.501022,-1.287255,-1.115639,-0.752820,-0.423051,-0.116902,0.173072,0.324530,0.571141,0.831345,1.094334
12,2017-09-30,-1.257868,-0.994401,-0.813153,-0.682937,-0.565382,-0.313222,-0.076667,0.139120,0.422406,0.539670,0.653952,0.819936,1.050443
13,2017-06-30,-1.214479,-0.957238,-0.826389,-0.700433,-0.578758,-0.335159,-0.125811,0.110284,0.381958,0.503767,0.666121,0.839370,0.997060

In [20]:
# reset index and change the name to QtrEnd
# cutoff.reset_index(inplace=True)
cutoff.rename(columns = {'Unnamed: 0':'QtrEnd'}, inplace = True)

In [21]:
cutoff.head()

,QtrEnd,10,15,20,25,30,40,50,60,70,75,80,85,90
0,2020-09-30,-1.050526,-0.790363,-0.593919,-0.418167,-0.255659,0.021388,0.234579,0.493639,0.729288,0.844249,0.984037,1.103257,1.253413
1,2020-06-30,-1.340478,-1.032865,-0.796231,-0.624191,-0.456102,-0.201830,0.026121,0.273505,0.536590,0.712037,0.903405,1.057309,1.254312
2,2020-03-31,-1.687992,-1.530156,-1.317197,-1.177030,-0.995477,-0.673934,-0.410459,-0.154540,0.113086,0.250162,0.410787,0.626028,0.865461
3,2019-12-31,-1.385456,-1.117439,-0.912733,-0.777937,-0.666314,-0.442820,-0.221473,-0.019972,0.276115,0.389108,0.554600,0.673910,0.919029
4,2019-09-30,-1.114879,-0.863696,-0.686471,-0.578092,-0.510715,-0.312939,-0.160197,0.013662,0.266295,0.410304,0.520202,0.666667,0.857987

In [22]:
sue_ticker_index.head()

,Ticker,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30
0,ZNOG,-0.378389,-0.144778,-0.004941,0.317919,0.544818,0.718520,0.916532,-1.771270,0.836927,0.583239,-1.306181,1.386710,1.445573,-0.915399
1,ZIVO,-1.038533,0.087565,-0.682236,-0.574857,-0.098727,0.769031,0.482087,1.767735,0.335383,0.835533,-0.288675,-0.671073,-0.643822,-0.093005
2,ZGNX,0.287470,0.585274,1.081271,1.191975,-1.665781,-0.900885,-0.472313,0.899035,0.237487,1.106089,1.468814,0.980584,-1.968160,0.939965
3,ZAGG,0.811708,0.682029,-1.664213,1.381942,1.005844,-0.246991,-2.024215,-0.370040,-0.040029,-1.081856,-0.398504,0.418864,1.554290,1.776420
4,YEWB,0.078316,0.358402,0.239889,-1.110094,-0.128526,0.715115,0.621557,-0.188486,0.069616,0.466578,0.255300,-1.437026,-0.827095,1.936931

In [23]:
ann_dates = ann_per_ticker_transposed

In [24]:
ann_dates.head()

,Ticker,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30,2019-06-30,2019-03-31,2018-12-31,2018-09-30,...,2017-06-30,2017-03-31,2016-12-31,2016-09-30,2016-06-30,2016-03-31,2015-12-31,2015-09-30,2015-06-30,2015-03-31
0,AAME,2020-11-10,2020-08-11,2020-05-11,2020-03-24,2019-11-12,2019-08-13,2019-05-13,2019-04-01,2018-11-13,...,2017-08-14,2017-05-12,2017-03-24,2016-11-14,2016-08-12,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
1,ABCP,2020-11-10,2020-08-10,2020-05-07,2020-03-25,2019-11-12,2019-08-12,2019-05-13,2019-03-27,2018-11-09,...,2017-08-11,2017-05-11,2017-03-30,2016-11-08,2016-08-11,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
2,ABEO,2020-11-09,2020-08-10,2020-05-06,2020-03-16,2019-11-12,2019-08-09,2019-05-10,2019-03-18,2018-11-09,...,2017-08-14,2017-05-15,2017-03-30,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-14
3,ABIO,2020-11-02,2020-08-05,2020-05-06,2020-02-18,2019-11-06,2019-08-01,2019-05-08,2019-02-27,2018-11-14,...,2017-08-03,2017-05-15,2017-03-21,2016-11-14,2016-08-09,2016-05-11,2016-03-17,2015-11-12,2015-08-11,2015-05-12
4,ABMC,2020-11-16,2020-09-15,2020-07-31,2020-06-26,2019-11-14,2019-08-14,2019-05-20,2019-04-16,2018-11-13,...,2017-08-14,2017-05-15,2017-03-31,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-15

In [25]:
for i in ann_dates.columns.tolist()[1:]:
    print(i)
    ann_dates[i]= pd.to_datetime(ann_dates[i],dayfirst=True)
print(ann_dates[i])

2020-09-30
2020-06-30
2020-03-31
2019-12-31
2019-09-30
2019-06-30
2019-03-31
2018-12-31
2018-09-30
2018-06-30
2018-03-31
2017-12-31
2017-09-30
2017-06-30
2017-03-31
2016-12-31
2016-09-30
2016-06-30
2016-03-31
2015-12-31
2015-09-30
2015-06-30
2015-03-31
0     2015-05-13
1     2015-05-13
2     2015-05-14
3     2015-05-12
4     2015-05-15
         ...
824   2015-05-14
825   2015-05-06
826   2015-05-11
827   2015-05-13
828   2015-05-07
Name: 2015-03-31, Length: 829, dtype: datetime64[ns]

In [26]:
ann_dates

,Ticker,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30,2019-06-30,2019-03-31,2018-12-31,2018-09-30,...,2017-06-30,2017-03-31,2016-12-31,2016-09-30,2016-06-30,2016-03-31,2015-12-31,2015-09-30,2015-06-30,2015-03-31
0,AAME,2020-11-10,2020-08-11,2020-05-11,2020-03-24,2019-11-12,2019-08-13,2019-05-13,2019-04-01,2018-11-13,...,2017-08-14,2017-05-12,2017-03-24,2016-11-14,2016-08-12,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
1,ABCP,2020-11-10,2020-08-10,2020-05-07,2020-03-25,2019-11-12,2019-08-12,2019-05-13,2019-03-27,2018-11-09,...,2017-08-11,2017-05-11,2017-03-30,2016-11-08,2016-08-11,2016-05-12,2016-03-29,2015-11-10,2015-08-12,2015-05-13
2,ABEO,2020-11-09,2020-08-10,2020-05-06,2020-03-16,2019-11-12,2019-08-09,2019-05-10,2019-03-18,2018-11-09,...,2017-08-14,2017-05-15,2017-03-30,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-14
3,ABIO,2020-11-02,2020-08-05,2020-05-06,2020-02-18,2019-11-06,2019-08-01,2019-05-08,2019-02-27,2018-11-14,...,2017-08-03,2017-05-15,2017-03-21,2016-11-14,2016-08-09,2016-05-11,2016-03-17,2015-11-12,2015-08-11,2015-05-12
4,ABMC,2020-11-16,2020-09-15,2020-07-31,2020-06-26,2019-11-14,2019-08-14,2019-05-20,2019-04-16,2018-11-13,...,2017-08-14,2017-05-15,2017-03-31,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-14,2015-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,YEWB,2020-11-13,2020-08-14,2020-06-29,2020-05-14,2019-11-14,2019-08-13,2019-05-22,2019-05-07,2018-11-19,...,2017-08-14,2017-05-15,2017-03-31,2016-11-14,2016-08-15,2016-05-16,2016-03-30,2015-11-16,2015-08-18,2015-05-14
825,ZAGG,2020-11-09,2020-08-04,2020-05-28,2020-03-16,2019-11-07,2019-08-07,2019-05-08,2019-03-14,2018-11-07,...,2017-08-03,2017-05-04,2017-03-09,2016-11-02,2016-08-03,2016-05-10,2016-03-08,2015-11-04,2015-08-05,2015-05-06
826,ZGNX,2020-11-09,2020-08-06,2020-05-06,2020-03-02,2019-11-07,2019-08-06,2019-05-09,2019-02-28,2018-11-08,...,2017-08-08,2017-05-04,2017-03-10,2016-11-08,2016-08-09,2016-05-10,2016-03-15,2015-11-09,2015-08-10,2015-05-11
827,ZIVO,2020-11-12,2020-08-13,2020-05-11,2020-03-26,2019-10-28,2019-08-07,2019-05-13,2019-02-12,2018-11-14,...,2017-08-11,2017-05-12,2017-03-31,2016-11-14,2016-08-12,2016-05-13,2016-03-29,2015-11-13,2015-08-13,2015-05-13
828,ZNOG,2020-11-12,2020-08-10,2020-05-11,2020-03-27,2019-11-05,2019-08-07,2019-05-14,2019-03-08,2018-11-08,...,2017-08-11,2017-05-09,2017-03-14,2016-11-10,2016-08-09,2016-05-16,2016-03-15,2015-11-10,2015-08-03,2015-05-07

In [27]:
prices

        Ticker       date  close
0         AAME 2015-01-02  4.030
1         AAME 2015-01-05  4.010
2         AAME 2015-01-06  3.920
3         AAME 2015-01-07  3.920
4         AAME 2015-01-08  3.950
...        ...        ...    ...
1264593   ZNOG 2020-12-14  1.000
1264594   ZNOG 2020-12-15  0.810
1264595   ZNOG 2020-12-16  0.910
1264596   ZNOG 2020-12-17  0.902
1264597   ZNOG 2020-12-18  0.860

[1245593 rows x 3 columns]

# Portfolio Backtesting

In [28]:
import datetime as datetime 

mod_prices=prices.copy()
start=datetime.datetime(2015, 1, 2)
end=datetime.datetime(2020, 12, 18)

#for i in range(len(df1)):
#    if i%10000==0:
#        print(i)
#    if df1.iloc[i]['date']<start or df1.iloc[i]['date']>end:
#        indices.append(i)
#df1.drop(df1.index[indices],inplace=True)


#indices=[]

mod_prices = mod_prices[mod_prices['date']>=start]
mod_prices = mod_prices[mod_prices['date']<=end]


#print(len(df1))
#winsound.Beep(500,1000)
mod_prices.reset_index(inplace=True)
mod_prices.drop('index',axis=1,inplace=True)
#df1.drop('index',axis=1,inplace=True)
#df1.drop('PX_VOLUME',axis=1,inplace=True)

In [29]:
mod_prices = mod_prices.rename(columns={'close': 'PX_LAST'})

In [30]:
len(mod_prices.Ticker.unique())

829

In [31]:
# we append out those with lesser dates
df_s=mod_prices.groupby('Ticker').count()
df_s.reset_index(inplace=True)

max=0
for i in range (len(df_s)):
    if df_s.iloc[i]['date']>max:
        max=df_s.iloc[i]['date']
#print(max)

less_dates=[]
for i in range (len(df_s)):
    if df_s.iloc[i]['date']!=max:
        #print (df_s.iloc[i]['Ticker'])
        #print (df_s.iloc[i]['date'])
        less_dates.append(df_s.iloc[i]['Ticker'])
print(less_dates)

for j in less_dates:
    mod_prices = mod_prices[mod_prices['Ticker']!=j]

['AJX', 'BLPH', 'CDTX', 'FNWB', 'HTGM', 'ICBK', 'KALV', 'OPGN']

In [32]:
len(fundamentals['ticker'].unique())

829

In [33]:
len(less_dates)
# less_dates contains those with less dates than we proposed above

8

In [34]:
len(mod_prices['Ticker'].unique())

821

In [35]:
sue

,Ticker,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30
0,ZNOG,-0.378389,-0.144778,-0.004941,0.317919,0.544818,0.718520,0.916532,-1.771270,0.836927,0.583239,-1.306181,1.386710,1.445573,-0.915399
1,ZIVO,-1.038533,0.087565,-0.682236,-0.574857,-0.098727,0.769031,0.482087,1.767735,0.335383,0.835533,-0.288675,-0.671073,-0.643822,-0.093005
2,ZGNX,0.287470,0.585274,1.081271,1.191975,-1.665781,-0.900885,-0.472313,0.899035,0.237487,1.106089,1.468814,0.980584,-1.968160,0.939965
3,ZAGG,0.811708,0.682029,-1.664213,1.381942,1.005844,-0.246991,-2.024215,-0.370040,-0.040029,-1.081856,-0.398504,0.418864,1.554290,1.776420
4,YEWB,0.078316,0.358402,0.239889,-1.110094,-0.128526,0.715115,0.621557,-0.188486,0.069616,0.466578,0.255300,-1.437026,-0.827095,1.936931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,ABMC,-1.000000,0.895662,-0.666667,-1.166667,0.737232,1.166667,0.166667,0.107307,-0.527046,1.159502,-0.103512,-0.895979,0.666667,-1.212206
825,ABIO,-1.300997,-2.001756,-2.924692,-2.989819,-4.238242,-3.622091,-3.580342,-3.570080,-2.695095,-1.667025,0.223620,1.937501,4.760099,0.493679
826,ABEO,0.653347,1.661847,-0.229950,1.486583,1.306054,0.114750,0.410644,-0.529103,-0.507604,-0.655480,-0.108156,0.032594,0.580061,-0.734563
827,ABCP,-0.038127,0.476074,0.402513,1.117254,-0.495335,-0.392057,-0.217775,0.003832,0.117830,0.253346,0.515988,1.487441,-1.666865,-1.074301
828,AAME,0.343885,1.730863,-1.200290,0.500786,-0.108046,-1.211916,0.768624,-0.014479,0.139759,1.152900,-1.843361,0.912726,-0.333327,1.163303

In [36]:
#qtr end based on which to form the portfolio, example: Jun-19, Mar-19, Dec-18, Sep-18
#percentile is the long cutoff (number, not a string)
def port_form (qtr_end,percentile):
    long_cutoff = 0
    short_cutoff = 0
    #print (cutoff.iloc[2]['QtrEnd'])
    #print(qtr_end)
    for i in range(len(cutoff)):
        if cutoff.iloc[i]['QtrEnd']==qtr_end:
            long_cutoff = cutoff.iloc[i-1][str(percentile)]
            short_cutoff = cutoff.iloc[i-1][str(100-percentile)]
    long_st=[]
    short_st=[]
    for i in range(len(sue)):
        if sue.iloc[i][qtr_end]>=long_cutoff:
            long_st.append(sue.iloc[i]['Ticker'])
        elif sue.iloc[i][qtr_end]<=short_cutoff:
            short_st.append(sue.iloc[i]['Ticker'])
    return long_st, short_st

In [37]:
def announce_date (ticker,qtr_end):
    ann_date = 0
    qtr_dt = pd.to_datetime(qtr_end)
    # if real stock is entered and if date is really at quarter end, if thats true, announcement date
    if (ticker in ann_dates['Ticker'].values)&(((qtr_dt.day == 30)& (qtr_dt.month in [6,9])) 
                                        or ((qtr_dt.day == 31)& (qtr_dt.month in [3,12]))):
        ann_date = ann_dates.loc[ann_dates['Ticker']==ticker].iloc[0][qtr_end]
#         print(temp)
    else:
        print('not qtr end or not valid stock')
        return None
    return ann_date

In [38]:
type(mod_prices.iloc[0]['date'])

pandas._libs.tslibs.timestamps.Timestamp

In [39]:
mod_prices

        Ticker       date  PX_LAST
0         AAME 2015-01-02    4.030
1         AAME 2015-01-05    4.010
2         AAME 2015-01-06    3.920
3         AAME 2015-01-07    3.920
4         AAME 2015-01-08    3.950
...        ...        ...      ...
1245588   ZNOG 2020-12-14    1.000
1245589   ZNOG 2020-12-15    0.810
1245590   ZNOG 2020-12-16    0.910
1245591   ZNOG 2020-12-17    0.902
1245592   ZNOG 2020-12-18    0.860

[1233963 rows x 3 columns]

In [40]:
prices

        Ticker       date  close
0         AAME 2015-01-02  4.030
1         AAME 2015-01-05  4.010
2         AAME 2015-01-06  3.920
3         AAME 2015-01-07  3.920
4         AAME 2015-01-08  3.950
...        ...        ...    ...
1264593   ZNOG 2020-12-14  1.000
1264594   ZNOG 2020-12-15  0.810
1264595   ZNOG 2020-12-16  0.910
1264596   ZNOG 2020-12-17  0.902
1264597   ZNOG 2020-12-18  0.860

[1245593 rows x 3 columns]

In [41]:
def trade (ticker,ann_date,SL=-0.05,TP=0.1,ndays=40,posn='long'):
    #posn = position.copy()
    #print (ticker)     
    print(ticker)
    
    names = []

    i =0
    #this is correct, i should put an i = 0 here
    price = mod_prices[mod_prices['Ticker']==ticker]
    price.reset_index(inplace=True)
   
    #before the for loop, i is '2017-06-30'
    
    for i in range (len(price)):
        # once it goes into the for loop, i is 0 and then loop into 1,2,3,...
#         print(i)
        if price.iloc[i]['date']>=ann_date:
            break
            
#     print(f'last 1 i: {i}')

#     print(i) # i should be 912 here, but its 0 i think
    start = price.iloc[i]['date']
#     print(f'last 2 i: {i}')

    #print(start)
    end = price.iloc[i+ int(ndays)]['date']
    #print(end)
    
    price = price[price['date']>=start]
    price = price[price['date']<end]
    
    price.reset_index(inplace=True)
    price.drop('index',axis=1,inplace=True)
#     print(price)
    
#     print(f'last 3 i: {i}')

    
    buy_price = price.iloc[0]['PX_LAST']
    trade_end = ''
    for i in range(1,len(price)):
        if posn == 'long':
            if (price.iloc[i]['PX_LAST']-buy_price)/buy_price<=SL:
                sell_price = price.iloc[i]['PX_LAST']
                posn = 'squared off'
                trade_end = 'SLH'
                profit = (sell_price-buy_price)/buy_price
                #i believe that profit is in percentage
                break
            elif (price.iloc[i]['PX_LAST']-buy_price)/buy_price>=TP:
                sell_price = price.iloc[i]['PX_LAST']
                posn = 'squared off'
                trade_end = 'PB'
                profit = (sell_price-buy_price)/buy_price
                break
        if posn == 'short':
            if (-(price.iloc[i]['PX_LAST']-buy_price))/buy_price<=SL:
                sell_price = price.iloc[i]['PX_LAST']
                posn = 'squared off'
                trade_end = 'SLH'
                profit = (-(sell_price-buy_price))/buy_price
                break
            elif (-(price.iloc[i]['PX_LAST']-buy_price))/buy_price>=TP:
                sell_price = price.iloc[i]['PX_LAST']
                posn = 'squared off'
                trade_end = 'PB'
                profit = (-(sell_price-buy_price))/buy_price
                break
    
        if posn!='squared off':
            sell_price = price.iloc[len(price)-1]['PX_LAST']
            trade_end = 'PSO'
            if posn=='long':
                profit = (sell_price-buy_price)/buy_price
            else:
                profit = (-(sell_price-buy_price))/buy_price
    
#     print(f'last 4 i: {i}')
#     print(ticker)
                    
    return buy_price, sell_price, profit, trade_end

In [42]:
announce_date('ZNOG','2019-09-30')

Timestamp('2019-11-05 00:00:00')

In [43]:
a,b,c,d= trade ('ZNOG',announce_date('ZNOG','2019-09-30'))

ZNOG

In [44]:
qtr_end_list=ann_dates.columns.tolist()[1:-9]
qtr_end_list

['2020-09-30',
 '2020-06-30',
 '2020-03-31',
 '2019-12-31',
 '2019-09-30',
 '2019-06-30',
 '2019-03-31',
 '2018-12-31',
 '2018-09-30',
 '2018-06-30',
 '2018-03-31',
 '2017-12-31',
 '2017-09-30',
 '2017-06-30']

In [45]:
# qtr_end_list has to end before 2017-03-31, last entry should be 2017-06-30
long=[]
short=[]
for i in qtr_end_list:
    print(i)
    lo,sho = port_form (i,90)
    long.append(lo)
    short.append(sho)
#     print(f'{long}\n')

2020-09-30
2020-06-30
2020-03-31
2019-12-31
2019-09-30
2019-06-30
2019-03-31
2018-12-31
2018-09-30
2018-06-30
2018-03-31
2017-12-31
2017-09-30
2017-06-30

In [46]:
long_port = dict(zip(qtr_end_list, long)) 
short_port = dict(zip(qtr_end_list, short))

In [47]:
long_port

{'2020-09-30': ['WLDN',
  'WHLM',
  'VPG',
  'VEC',
  'VCYT',
  'VCRA',
  'UUU',
  'USIO',
  'USAK',
  'UPLD',
  'TZOO',
  'TSQ',
  'TPCS',
  'TESS',
  'TELL',
  'TBK',
  'TAIT',
  'TACO',
  'SPRS',
  'SPND',
  'SNNY',
  'SNGX',
  'SMMF',
  'SMDM',
  'SLCT',
  'SHYF',
  'SFBC',
  'SCX',
  'SBFG',
  'SAL',
  'RSLS',
  'RIVE',
  'RIBT',
  'RCKY',
  'PWOD',
  'PWFL',
  'PMBC',
  'PLPC',
  'PFMT',
  'PEYE',
  'PED',
  'PEBK',
  'PCYN',
  'OTRK',
  'OMTK',
  'OFS',
  'OFED',
  'OCGN',
  'NWHM',
  'NWFL',
  'NVEE',
  'NTIP',
  'NSYS',
  'NRIM',
  'NAII',
  'MX',
  'MPX',
  'MN',
  'MGYR',
  'MCCX',
  'LUNA',
  'LTRX',
  'LPCN',
  'LODE',
  'LOAN',
  'LMAT',
  'LCUT',
  'KTOS',
  'KEQU',
  'JAKK',
  'ITIC',
  'INTG',
  'INSG',
  'INOD',
  'INBK',
  'IKNX',
  'IIN',
  'IHC',
  'ICD',
  'ICAD',
  'IAIC',
  'HWBK',
  'HUSA',
  'HTBK',
  'HROW',
  'HMNF',
  'HFBL',
  'HEAR',
  'HCAP',
  'HBP',
  'HBMD',
  'HBCP',
  'GVP',
  'GTIM',
  'GORO',
  'GNSS',
  'GLBZ',
  'GDEN',
  'FTEK',
  'FSBW',
  'FRD',
  'FNWB',
  'FLXS',
  'FLL',
  'FFWM',
  'FEIM',
  'FDUS',
  'FDBC',
  'FCCO',
  'EVK',
  'EVI',
  'EVBN',
  'ENSV',
  'EGY',
  'EBTC',
  'DVD',
  'DSS',
  'DLA',
  'DIT',
  'DGII',
  'CYTH',
  'CWBC',
  'CVR',
  'CVGI',
  'CTIB',
  'CTHR',
  'CRWS',
  'CRMZ',
  'CPHC',
  'CNTY',
  'CNBKA',
  'CLDB',
  'CLCT',
  'CIZN',
  'CHMG',
  'CFRX',
  'CFFI',
  'CEI',
  'CBKM',
  'CBAN',
  'CARA',
  'CAC',
  'BYRN',
  'BTN',
  'BOTJ',
  'BLPH',
  'BLBD',
  'BKTI',
  'BGSF',
  'BELFA',
  'BEAT',
  'BCOV',
  'BCLI',
  'BCBP',
  'AXGN',
  'AVNW',
  'ATLO',
  'APTS',
  'APEX',
  'AOSL',
  'AKBA',
  'AGYS',
  'ACY'],
 '2020-06-30': ['WHF',
  'UWHR',
  'UUU',
  'UCTT',
  'UBOH',
  'TWIN',
  'TSRI',
  'TACO',
  'SUNS',
  'SUMR',
  'SSSS',
  'SNFCA',
  'SMED',
  'SGC',
  'SFBC',
  'SCM',
  'RLGT',
  'RILY',
  'RBCN',
  'QNBC',
  'PLPC',
  'PEIX',
  'ORC',
  'OFS',
  'OCGN',
  'OBCI',
  'NRIM',
  'NERV',
  'NAII',
  'MRNS',
  'MRCC',
  'MN',
  'MKRS',
  'MCCX',
  'MATN',
  'LUVU',
  'LEAF',
  'LCUT',
  'KOSS',
  'KINS',
  'KIN',
  'JMP',
  'JCTCF',
  'ITIC',
  'ITI',
  'ICD',
  'ICAD',
  'HUSA',
  'HMNF',
  'HGBL',
  'HCHC',
  'HBP',
  'HALL',
  'GTIM',
  'GEC',
  'FRBK',
  'FMBM',
  'FEIM',
  'ESCA',
  'ERII',
  'EQS',
  'EARN',
  'DIT',
  'CYBE',
  'CPST',
  'COHN',
  'COFS',
  'CLFD',
  'CLBS',
  'CKX',
  'CFBK',
  'CDZI',
  'CDMO',
  'CARA',
  'BELFA',
  'BCOV',
  'BCLI',
  'ATLO',
  'AMTX',
  'AINC',
  'ACU',
  'ABEO',
  'AAME'],
 '2020-03-31': ['USIO',
  'UCTT',
  'UAMY',
  'TOMZ',
  'TMQ',
  'SONN',
  'SNNY',
  'SHSP',
  'SESN',
  'SAMG',
  'RSLS',
  'RESN',
  'REI',
  'ORGS',
  'NERV',
  'MN',
  'MGEN',
  'LAWS',
  'GLYC',
  'GLGI',
  'GIFI',
  'DRAD',
  'CVV',
  'CMT',
  'CBIO',
  'CBAY',
  'CASI',
  'CAPR',
  'BLFS',
  'BBQ',
  'APT',
  'AMRK',
  'ALDX',
  'ACHV'],
 '2019-12-31': ['ZGNX',
  'ZAGG',
  'WLDN',
  'VTNR',
  'VCEL',
  'VASO',
  'URG',
  'UG',
  'UEC',
  'TSRI',
  'TOFB',
  'TKOI',
  'SYNC',
  'STKS',
  'SSKN',
  'SOTK',
  'SMTX',
  'SMIT',
  'SHSP',
  'SAR',
  'RM',
  'RGCO',
  'RELL',
  'RAND',
  'RAIL',
  'QUIK',
  'PTMN',
  'PRPH',
  'PRCP',
  'PFSW',
  'PFMT',
  'PFBX',
  'PCYO',
  'PBHC',
  'OTIVF',
  'OPCH',
  'OFLX',
  'NVUS',
  'NURO',
  'NSTG',
  'MXC',
  'MX',
  'MTBC',
  'MMAC',
  'MKRS',
  'MGEN',
  'LPTH',
  'LEDS',
  'ITIC',
  'IRT',
  'IIN',
  'IAIC',
  'HTGM',
  'HQI',
  'HEAR',
  'GV',
  'FVE',
  'FPI',
  'FORD',
  'FGF',
  'FDUS',
  'EVTN',
  'EMKR',
  'EHTH',
  'ECIA',
  'DXYN',
  'DXLG',
  'DSS',
  'DJCO',
  'CYRX',
  'CYCC',
  'CWGL',
  'CTSO',
  'CPTA',
  'CPST',
  'COHN',
  'CHMI',
  'CARA',
  'CALA',
  'BRN',
  'BIOL',
  'BBW',
  'AUMN',
  'ASUR',
  'ARDX',
  'AMSWA',
  'ALDX',
  'AEHR',
  'ACHV',
  'ACER',
  'ABEO',
  'ABCP'],
 '2019-09-30': ['ZAGG',
  'VCRA',
  'UTI',
  'TRUP',
  'TGEN',
  'STRM',
  'STCN',
  'SSNT',
  'SPKE',
  'SOTK',
  'SNMP',
  'SMIT',
  'SHYF',
  'SHSP',
  'SBFG',
  'RM',
  'RHE',
  'RELL',
  'REFR',
  'PRCP',
  'PLXP',
  'PFBX',
  'PCYO',
  'PBHC',
  'ORMP',
  'OPCH',
  'NVUS',
  'NBY',
  'MTBC',
  'MOJO',
  'MGEN',
  'LGL',
  'LEU',
  'LEAT',
  'KIN',
  'ITP',
  'ISNS',
  'IMBI',
  'IGC',
  'ICBK',
  'HPTO',
  'HEPA',
  'HBP',
  'GLYC',
  'FLXS',
  'FDUS',
  'EVOL',
  'EMGCQ',
  'ECIA',
  'DWSN',
  'DSPG',
  'DSNY',
  'CVV',
  'CTIB',
  'CSBR',
  'CRMZ',
  'CPTA',
  'CHMI',
  'CBKC',
  'CASI',
  'CALA',
  'BSQR',
  'BRG',
  'BLFS',
  'BCOV',
  'AXGN',
  'ASYS',
  'ASPN',
  'ANFC',
  'AMTX',
  'AMNB',
  'AIRT',
  'AHH',
  'ACER',
  'ABEO'],
 '2019-06-30': ['WHLM',
  'VOXX',
  'VIRC',
  'UTI',
  'TPVG',
  'TOMZ',
  'TGEN',
  'TAYD',
  'SUNW',
  'SMTI',
  'SMED',
  'SEEL',
  'RILY',
  'PTN',
  'PTMN',
  'PFIN',
  'PEIX',
  'PCTI',
  'PAYS',
  'PAR',
  'OTRK',
  'ORN',
  'OEG',
  'OCUP',
  'NWIN',
  'NWHM',
  'NSTG',
  'NIMU',
  'NICK',
  'NCBS',
  'NAVB',
  'MVBF',
  'MTEX',
  'MNTX',
  'MHH',
  'MGEN',
  'LWLG',
  'KVHI',
  'KTCC',
  'KINS',
  'KIN',
  'JSDA',
  'JCTCF',
  'ITP',
  'ITI',
  'IRT',
  'IMBI',
  'IGC',
  'HEPA',
  'GTIM',
  'GLXZ',
  'GFN',
  'GAIA',
  'FVE',
  'FORD',
  'FMAO',
  'ELMD',
  'EBMT',
  'DXYN',
  'DVD',
  'DGLY',
  'DFFN',
  'CZWI',
  'CYTH',
  'CXDC',
  'CVV',
  'CUTR',
  'CTSO',
  'CPSH',
  'CPRX',
  'CNFN',
  'CMT',
  'CLBS',
  'CDOR',
  'BRN',
  'BKEP',
  'BICX',
  'BABB',
  'AWX',
  'ASYS',
  'ASPN',
  'ASMB',
  'ARTW',
  'AP',
  'AOSL',
  'ALDX',
  'AJX',
  'AGYS',
  'AEHR',
  'ADMT',
  'ADMP',
  'ACY',
  'ACU',
  'ABMC'],
 '2019-03-31': ['ZNOG',
  'WWR',
  'WHLR',
  'UTI',
  'USNU',
  'UNB',
  'UMH',
  'TZOO',
  'TENX',
  'SWKH',
  'SUWN',
  'SUNS',
  'STRT',
  'STRM',
  'SSSS',
  'SRT',
  'SPRT',
  'SIMP',
  'SGMA',
  'SCM',
  'RSLS',
  'RNWK',
  'RHE',
  'RGCO',
  'REPH',
  'RELV',
  'REI',
  'RC',
  'PPSI',
  'PCTI',
  'PAR',
  'ORN',
  'ORC',
  'ODC',
  'OCGN',
  'NSPR',
  'NSEC',
  'NMRD',
  'NIMU',
  'MTEX',
  'MRCC',
  'MNTX',
  'MIND',
  'MDLY',
  'MBOT',
  'JOUT',
  'ICCC',
  'HBMD',
  'GROW',
  'GLAD',
  'GEC',
  'GAIA',
  'FLXT',
  'FBIO',
  'EVOL',
  'ENZ',
  'ENSV',
  'EMCF',
  'EARN',
  'DJCO',
  'DGLY',
  'CTG',
  'CTEK',
  'CREX',
  'CPTP',
  'CPRX',
  'CNFN',
  'CLCT',
  'CFRX',
  'CBKC',
  'CBFV',
  'CASH',
  'BWEN',
  'BSQR',
  'BKEP',
  'BDR',
  'BBW',
  'ASPU',
  'ARTW',
  'AP',
  'ALT',
  'AJX',
  'AIRT',
  'AHPI',
  'AGTC',
  'AEY',
  'AERI',
  'ADMP'],
 '2018-12-31': ['ZIVO',
  'XENE',
  'WSTG',
  'WDDD',
  'VOXX',
  'VNRX',
  'VERU',
  'VCYT',
  'UWHR',
  'UTI',
  'USIO',
  'UPLD',
  'ULBI',
  'TNLX',
  'THMO',
  'THM',
  'TCI',
  'TBK',
  'SWKH',
  'SSY',
  'SMED',
  'SKY',
  'SIMP',
  'SENEA',
  'SEEL',
  'RSLS',
  'RHE',
  'RELV',
  'RAND',
  'QNST',
  'QCRH',
  'PURE',
  'PDEX',
  'OXFD',
  'OVBC',
  'ONCT',
  'OGEN',
  'OCGN',
  'NWIN',
  'NOVC',
  'NATH',
  'MSN',
  'MRMD',
  'MPB',
  'MNOV',
  'MMAC',
  'MLSS',
  'MLP',
  'MFNC',
  'MFIN',
  'MEIP',
  'MCEP',
  'MBOT',
  'LMB',
  'LCUT',
  'LCNB',
  'KTCC',
  'JAKK',
  'IVAC',
  'IMH',
  'HROW',
  'HOFT',
  'HBIO',
  'GSIT',
  'GNSS',
  'FZMD',
  'FSBW',
  'FPI',
  'FNCB',
  'FMBM',
  'FATE',
  'EYPT',
  'ENZN',
  'EHTH',
  'CRGS',
  'CNET',
  'CLRO',
  'CIVB',
  'CIA',
  'CFRX',
  'CBFV',
  'BTN',
  'BPTH',
  'BDGE',
  'ATRS',
  'ATLC',
  'ASUR',
  'ASPU',
  'ARL',
  'APTS',
  'AMRK',
  'ALDX',
  'AEY',
  'AERI',
  'ACUR'],
 '2018-09-30': ['XXII',
  'XONE',
  'WSTG',
  'VNRX',
  'VIDE',
  'VCYT',
  'UWHR',
  'USIO',
  'UAMY',
  'TSQ',
  'TCI',
  'TCFC',
  'TAYD',
  'SVT',
  'SRNA',
  'SMDM',
  'SIMP',
  'SIGA',
  'SGLB',
  'SGC',
  'SENEA',
  'SEEL',
  'SCM',
  'SAL',
  'RYI',
  'RSLS',
  'RLH',
  'PDEX',
  'ONCT',
  'OEG',
  'OCFC',
  'OBCI',
  'NWPX',
  'NOVC',
  'NKSH',
  'NIMU',
  'MVIS',
  'MVBF',
  'MSN',
  'MFNC',
  'MFIN',
  'MCEP',
  'LMRK',
  'LEAT',
  'LCUT',
  'LAND',
  'KTCC',
  'KSPN',
  'KOR',
  'KINS',
  'JAKK',
  'ITIC',
  'ISR',
  'IRMD',
  'IOR',
  'IEC',
  'HTBK',
  'HMNF',
  'HBMD',
  'HALL',
  'GLXZ',
  'GFED',
  'FRAF',
  'FMBM',
  'FLL',
  'FFWM',
  'FEIM',
  'FDUS',
  'FBIZ',
  'EVOL',
  'EVFM',
  'EQS',
  'ELSE',
  'EGY',
  'EBMT',
  'DGII',
  'DENR',
  'CTEK',
  'CRWS',
  'CRVW',
  'CRK',
  'CPSH',
  'COFS',
  'CLFD',
  'CHMG',
  'CDTX',
  'CBKM',
  'CBFV',
  'CBAT',
  'BYFC',
  'BWEN',
  'BTN',
  'BSQR',
  'BMRC',
  'BELFA',
  'BBI',
  'AWRE',
  'AUMN',
  'ATRS',
  'ASPU',
  'APYX',
  'APT',
  'ANFC',
  'AMTX',
  'AMSC',
  'AMRK',
  'ALIM',
  'AIKI',
  'AGTC',
  'ACFN'],
 '2018-06-30': ['ZGNX',
  'WHF',
  'VIRC',
  'VIDE',
  'VASO',
  'UWHR',
  'UNAM',
  'UMH',
  'UFPT',
  'UBOH',
  'TSQ',
  'SOHO',
  'SLCT',
  'SIMP',
  'SFBC',
  'RSSS',
  'RILY',
  'RAIL',
  'PRSI',
  'PROV',
  'PED',
  'PAYS',
  'OPHC',
  'OBCI',
  'NSYS',
  'NRIM',
  'NLTX',
  'NKSH',
  'NICK',
  'NATH',
  'NANX',
  'NAII',
  'MSN',
  'MICT',
  'MHH',
  'MGHL',
  'MBOT',
  'LGL',
  'KOSS',
  'KOR',
  'KINS',
  'JCTCF',
  'JAKK',
  'ITP',
  'ISTR',
  'IRMD',
  'INTT',
  'INTG',
  'ICAD',
  'HQI',
  'HCHC',
  'HALL',
  'GTIM',
  'GLG',
  'GIGA',
  'GIFI',
  'FEIM',
  'EVFM',
  'ESXB',
  'ESSA',
  'ESCA',
  'ELMD',
  'DSS',
  'DLYT',
  'DGII',
  'CYDY',
  'CXDC',
  'CVLY',
  'CTIB',
  'CRK',
  'CRAI',
  'CPTA',
  'CLRB',
  'CLFD',
  'CLDB',
  'CJJD',
  'CFFI',
  'CDOR',
  'BMRC',
  'BKTI',
  'BGSF',
  'BELFA',
  'BBI',
  'AWX',
  'ATLO',
  'ATLC',
  'ATHX',
  'APT',
  'ANFC',
  'AMTX',
  'ALT',
  'ALSK',
  'AINC',
  'AHPI',
  'ACU',
  'ACNB',
  'ABMC',
  'AAME'],
 '2018-03-31': ['ZGNX',
  'XXII',
  'XENE',
  'WTT',
  'VGZ',
  'VBTX',
  'VABK',
  'UBOH',
  'UBCP',
  'TZOO',
  'TIPT',
  'SNNY',
  'SNFCA',
  'SIMP',
  'SFST',
  'SAL',
  'RSSS',
  'RIVE',
  'PURE',
  'PSTI',
  'PROV',
  'PRDO',
  'PLBC',
  'PKBK',
  'PFMT',
  'PED',
  'PCYN',
  'OVBC',
  'ONTX',
  'OMTK',
  'OFED',
  'NWIN',
  'NTWK',
  'NTIP',
  'NICK',
  'NAII',
  'MTEM',
  'MMAC',
  'MICT',
  'MCEP',
  'MATN',
  'MARK',
  'LIND',
  'JOUT',
  'ISR',
  'IROQ',
  'IRMD',
  'INFU',
  'IEC',
  'ICD',
  'HMG',
  'HGBL',
  'HBCP',
  'HALL',
  'GSIT',
  'GNCA',
  'GLXZ',
  'GLG',
  'GIFI',
  'GEOS',
  'FTLF',
  'FORD',
  'FMNB',
  'FFNW',
  'FENC',
  'FCCO',
  'FBSS',
  'ESSA',
  'ENBP',
  'EML',
  'EBTC',
  'DRAD',
  'CWBC',
  'CVGI',
  'CRAI',
  'CNET',
  'CKX',
  'CIVB',
  'CIO',
  'CHMG',
  'CCBG',
  'CBIO',
  'CBAT',
  'CBAN',
  'CASH',
  'CARV',
  'CAC',
  'BYRN',
  'BOTJ',
  'BOOM',
  'BMRC',
  'BKSC',
  'BKGM',
  'BDGE',
  'BBQ',
  'AUBN',
  'ATLO',
  'ATLC',
  'ANFC',
  'AMPE',
  'AMOT',
  'AMNB',
  'ALSK',
  'AGYS',
  'ACNB'],
 '2017-12-31': ['ZNOG',
  'XTNT',
  'XSPA',
  'XONE',
  'WVVI',
  'WLFC',
  'VEC',
  'VCRA',
  'VALU',
  'USAK',
  'UONE',
  'TRNS',
  'TIPT',
  'TACO',
  'STCN',
  'SSKN',
  'SPKE',
  'SNFCA',
  'SMGI',
  'RM',
  'QTXB',
  'PSTV',
  'PFSW',
  'PFMT',
  'PCYO',
  'OXFD',
  'OTEL',
  'ORN',
  'OMEX',
  'NVEE',
  'NUVR',
  'NSEC',
  'NERV',
  'MLR',
  'MATN',
  'LMST',
  'LEE',
  'IKNX',
  'HWCC',
  'HNNA',
  'GVP',
  'GV',
  'GNCA',
  'GEOS',
  'FZMD',
  'FBIZ',
  'FBIO',
  'ESP',
  'ESCA',
  'ERII',
  'DJCO',
  'CWGL',
  'CUTR',
  'CRMZ',
  'CLRB',
  'CDXS',
  'CDTX',
  'CBIO',
  'BXC',
  'BIOL',
  'BCOV',
  'BCLI',
  'BBI',
  'AVEO',
  'ASPN',
  'ASMB',
  'AIKI',
  'AGYS',
  'ADMA',
  'ACY',
  'ACRX',
  'ABIO',
  'ABCP'],
 '2017-09-30': ['ZNOG',
  'ZAGG',
  'XSPA',
  'WTT',
  'WHLR',
  'VOXX',
  'VCRA',
  'UUU',
  'USAK',
  'TSQ',
  'TRVN',
  'TOMZ',
  'TCI',
  'SYNC',
  'SVT',
  'STRS',
  'STRM',
  'SPRS',
  'SIMP',
  'SGA',
  'SFDL',
  'SAR',
  'RIBT',
  'RAND',
  'QSEP',
  'PWOD',
  'PULM',
  'PFSW',
  'ONCT',
  'OBLG',
  'NVEE',
  'NRIM',
  'MTBC',
  'MOJO',
  'MITK',
  'LUNA',
  'LIND',
  'INTZ',
  'INS',
  'INFU',
  'IIN',
  'ICBK',
  'GNCA',
  'FLL',
  'ESSA',
  'EMCF',
  'DWSN',
  'DMRC',
  'DGII',
  'DENR',
  'CWST',
  'CVGI',
  'CRGS',
  'CRDF',
  'CPSH',
  'CPIX',
  'CPAH',
  'CNTY',
  'CLDB',
  'CDXC',
  'CDTX',
  'CDOR',
  'BOTJ',
  'BBI',
  'AWRE',
  'ATLO',
  'ASPN',
  'ASMB',
  'ARL',
  'ANDR',
  'AMNB',
  'ALOT',
  'AKBA',
  'AIKI',
  'ABIO'],
 '2017-06-30': ['ZAGG',
  'YEWB',
  'VUZI',
  'VCEL',
  'UG',
  'UBFO',
  'UAMY',
  'TWIN',
  'TRVN',
  'TENX',
  'SYNC',
  'SUNW',
  'SMED',
  'SKY',
  'RESN',
  'QTNT',
  'PSTV',
  'PSTI',
  'PRTS',
  'PFBI',
  'PEBK',
  'OTRK',
  'ORRF',
  'ORMP',
  'OEG',
  'OCUP',
  'NVEE',
  'NTIC',
  'NSTG',
  'MTEX',
  'MTBC',
  'MSB',
  'MNTX',
  'MGHL',
  'MARPS',
  'LPTH',
  'LAWS',
  'JCTCF',
  'INOD',
  'IIN',
  'HWCC',
  'HSON',
  'HQI',
  'GNCA',
  'FRD',
  'FRAF',
  'FORD',
  'FEIM',
  'FCAP',
  'FALC',
  'EVTN',
  'ELSE',
  'ECIA',
  'DVD',
  'DGLY',
  'CYTH',
  'CTSO',
  'CRMD',
  'CNBKA',
  'CMXC',
  'CKX',
  'CDTX',
  'CCUR',
  'CARA',
  'CAAS',
  'BRG',
  'BLBD',
  'BKTI',
  'BICX',
  'BABB',
  'AUPH',
  'APDN',
  'AP',
  'AKBA',
  'ACU',
  'AAME']}

In [48]:
names = ['TCON','TMBR', 'TAT', 'BSTC','ZSAN','RCKT','TAT','LLEXQ','WSTL','NTRP','JCAP','RKDA','RMNI','PATI', 'ZEUS']

quarter = []
comp =[]
position =[]
bp=[]
sp=[]
pnl =[]
end=[]
i=0
j=0

In [49]:
long_port

{'2020-09-30': ['WLDN',
  'WHLM',
  'VPG',
  'VEC',
  'VCYT',
  'VCRA',
  'UUU',
  'USIO',
  'USAK',
  'UPLD',
  'TZOO',
  'TSQ',
  'TPCS',
  'TESS',
  'TELL',
  'TBK',
  'TAIT',
  'TACO',
  'SPRS',
  'SPND',
  'SNNY',
  'SNGX',
  'SMMF',
  'SMDM',
  'SLCT',
  'SHYF',
  'SFBC',
  'SCX',
  'SBFG',
  'SAL',
  'RSLS',
  'RIVE',
  'RIBT',
  'RCKY',
  'PWOD',
  'PWFL',
  'PMBC',
  'PLPC',
  'PFMT',
  'PEYE',
  'PED',
  'PEBK',
  'PCYN',
  'OTRK',
  'OMTK',
  'OFS',
  'OFED',
  'OCGN',
  'NWHM',
  'NWFL',
  'NVEE',
  'NTIP',
  'NSYS',
  'NRIM',
  'NAII',
  'MX',
  'MPX',
  'MN',
  'MGYR',
  'MCCX',
  'LUNA',
  'LTRX',
  'LPCN',
  'LODE',
  'LOAN',
  'LMAT',
  'LCUT',
  'KTOS',
  'KEQU',
  'JAKK',
  'ITIC',
  'INTG',
  'INSG',
  'INOD',
  'INBK',
  'IKNX',
  'IIN',
  'IHC',
  'ICD',
  'ICAD',
  'IAIC',
  'HWBK',
  'HUSA',
  'HTBK',
  'HROW',
  'HMNF',
  'HFBL',
  'HEAR',
  'HCAP',
  'HBP',
  'HBMD',
  'HBCP',
  'GVP',
  'GTIM',
  'GORO',
  'GNSS',
  'GLBZ',
  'GDEN',
  'FTEK',
  'FSBW',
  'FRD',
  'FNWB',
  'FLXS',
  'FLL',
  'FFWM',
  'FEIM',
  'FDUS',
  'FDBC',
  'FCCO',
  'EVK',
  'EVI',
  'EVBN',
  'ENSV',
  'EGY',
  'EBTC',
  'DVD',
  'DSS',
  'DLA',
  'DIT',
  'DGII',
  'CYTH',
  'CWBC',
  'CVR',
  'CVGI',
  'CTIB',
  'CTHR',
  'CRWS',
  'CRMZ',
  'CPHC',
  'CNTY',
  'CNBKA',
  'CLDB',
  'CLCT',
  'CIZN',
  'CHMG',
  'CFRX',
  'CFFI',
  'CEI',
  'CBKM',
  'CBAN',
  'CARA',
  'CAC',
  'BYRN',
  'BTN',
  'BOTJ',
  'BLPH',
  'BLBD',
  'BKTI',
  'BGSF',
  'BELFA',
  'BEAT',
  'BCOV',
  'BCLI',
  'BCBP',
  'AXGN',
  'AVNW',
  'ATLO',
  'APTS',
  'APEX',
  'AOSL',
  'AKBA',
  'AGYS',
  'ACY'],
 '2020-06-30': ['WHF',
  'UWHR',
  'UUU',
  'UCTT',
  'UBOH',
  'TWIN',
  'TSRI',
  'TACO',
  'SUNS',
  'SUMR',
  'SSSS',
  'SNFCA',
  'SMED',
  'SGC',
  'SFBC',
  'SCM',
  'RLGT',
  'RILY',
  'RBCN',
  'QNBC',
  'PLPC',
  'PEIX',
  'ORC',
  'OFS',
  'OCGN',
  'OBCI',
  'NRIM',
  'NERV',
  'NAII',
  'MRNS',
  'MRCC',
  'MN',
  'MKRS',
  'MCCX',
  'MATN',
  'LUVU',
  'LEAF',
  'LCUT',
  'KOSS',
  'KINS',
  'KIN',
  'JMP',
  'JCTCF',
  'ITIC',
  'ITI',
  'ICD',
  'ICAD',
  'HUSA',
  'HMNF',
  'HGBL',
  'HCHC',
  'HBP',
  'HALL',
  'GTIM',
  'GEC',
  'FRBK',
  'FMBM',
  'FEIM',
  'ESCA',
  'ERII',
  'EQS',
  'EARN',
  'DIT',
  'CYBE',
  'CPST',
  'COHN',
  'COFS',
  'CLFD',
  'CLBS',
  'CKX',
  'CFBK',
  'CDZI',
  'CDMO',
  'CARA',
  'BELFA',
  'BCOV',
  'BCLI',
  'ATLO',
  'AMTX',
  'AINC',
  'ACU',
  'ABEO',
  'AAME'],
 '2020-03-31': ['USIO',
  'UCTT',
  'UAMY',
  'TOMZ',
  'TMQ',
  'SONN',
  'SNNY',
  'SHSP',
  'SESN',
  'SAMG',
  'RSLS',
  'RESN',
  'REI',
  'ORGS',
  'NERV',
  'MN',
  'MGEN',
  'LAWS',
  'GLYC',
  'GLGI',
  'GIFI',
  'DRAD',
  'CVV',
  'CMT',
  'CBIO',
  'CBAY',
  'CASI',
  'CAPR',
  'BLFS',
  'BBQ',
  'APT',
  'AMRK',
  'ALDX',
  'ACHV'],
 '2019-12-31': ['ZGNX',
  'ZAGG',
  'WLDN',
  'VTNR',
  'VCEL',
  'VASO',
  'URG',
  'UG',
  'UEC',
  'TSRI',
  'TOFB',
  'TKOI',
  'SYNC',
  'STKS',
  'SSKN',
  'SOTK',
  'SMTX',
  'SMIT',
  'SHSP',
  'SAR',
  'RM',
  'RGCO',
  'RELL',
  'RAND',
  'RAIL',
  'QUIK',
  'PTMN',
  'PRPH',
  'PRCP',
  'PFSW',
  'PFMT',
  'PFBX',
  'PCYO',
  'PBHC',
  'OTIVF',
  'OPCH',
  'OFLX',
  'NVUS',
  'NURO',
  'NSTG',
  'MXC',
  'MX',
  'MTBC',
  'MMAC',
  'MKRS',
  'MGEN',
  'LPTH',
  'LEDS',
  'ITIC',
  'IRT',
  'IIN',
  'IAIC',
  'HTGM',
  'HQI',
  'HEAR',
  'GV',
  'FVE',
  'FPI',
  'FORD',
  'FGF',
  'FDUS',
  'EVTN',
  'EMKR',
  'EHTH',
  'ECIA',
  'DXYN',
  'DXLG',
  'DSS',
  'DJCO',
  'CYRX',
  'CYCC',
  'CWGL',
  'CTSO',
  'CPTA',
  'CPST',
  'COHN',
  'CHMI',
  'CARA',
  'CALA',
  'BRN',
  'BIOL',
  'BBW',
  'AUMN',
  'ASUR',
  'ARDX',
  'AMSWA',
  'ALDX',
  'AEHR',
  'ACHV',
  'ACER',
  'ABEO',
  'ABCP'],
 '2019-09-30': ['ZAGG',
  'VCRA',
  'UTI',
  'TRUP',
  'TGEN',
  'STRM',
  'STCN',
  'SSNT',
  'SPKE',
  'SOTK',
  'SNMP',
  'SMIT',
  'SHYF',
  'SHSP',
  'SBFG',
  'RM',
  'RHE',
  'RELL',
  'REFR',
  'PRCP',
  'PLXP',
  'PFBX',
  'PCYO',
  'PBHC',
  'ORMP',
  'OPCH',
  'NVUS',
  'NBY',
  'MTBC',
  'MOJO',
  'MGEN',
  'LGL',
  'LEU',
  'LEAT',
  'KIN',
  'ITP',
  'ISNS',
  'IMBI',
  'IGC',
  'ICBK',
  'HPTO',
  'HEPA',
  'HBP',
  'GLYC',
  'FLXS',
  'FDUS',
  'EVOL',
  'EMGCQ',
  'ECIA',
  'DWSN',
  'DSPG',
  'DSNY',
  'CVV',
  'CTIB',
  'CSBR',
  'CRMZ',
  'CPTA',
  'CHMI',
  'CBKC',
  'CASI',
  'CALA',
  'BSQR',
  'BRG',
  'BLFS',
  'BCOV',
  'AXGN',
  'ASYS',
  'ASPN',
  'ANFC',
  'AMTX',
  'AMNB',
  'AIRT',
  'AHH',
  'ACER',
  'ABEO'],
 '2019-06-30': ['WHLM',
  'VOXX',
  'VIRC',
  'UTI',
  'TPVG',
  'TOMZ',
  'TGEN',
  'TAYD',
  'SUNW',
  'SMTI',
  'SMED',
  'SEEL',
  'RILY',
  'PTN',
  'PTMN',
  'PFIN',
  'PEIX',
  'PCTI',
  'PAYS',
  'PAR',
  'OTRK',
  'ORN',
  'OEG',
  'OCUP',
  'NWIN',
  'NWHM',
  'NSTG',
  'NIMU',
  'NICK',
  'NCBS',
  'NAVB',
  'MVBF',
  'MTEX',
  'MNTX',
  'MHH',
  'MGEN',
  'LWLG',
  'KVHI',
  'KTCC',
  'KINS',
  'KIN',
  'JSDA',
  'JCTCF',
  'ITP',
  'ITI',
  'IRT',
  'IMBI',
  'IGC',
  'HEPA',
  'GTIM',
  'GLXZ',
  'GFN',
  'GAIA',
  'FVE',
  'FORD',
  'FMAO',
  'ELMD',
  'EBMT',
  'DXYN',
  'DVD',
  'DGLY',
  'DFFN',
  'CZWI',
  'CYTH',
  'CXDC',
  'CVV',
  'CUTR',
  'CTSO',
  'CPSH',
  'CPRX',
  'CNFN',
  'CMT',
  'CLBS',
  'CDOR',
  'BRN',
  'BKEP',
  'BICX',
  'BABB',
  'AWX',
  'ASYS',
  'ASPN',
  'ASMB',
  'ARTW',
  'AP',
  'AOSL',
  'ALDX',
  'AJX',
  'AGYS',
  'AEHR',
  'ADMT',
  'ADMP',
  'ACY',
  'ACU',
  'ABMC'],
 '2019-03-31': ['ZNOG',
  'WWR',
  'WHLR',
  'UTI',
  'USNU',
  'UNB',
  'UMH',
  'TZOO',
  'TENX',
  'SWKH',
  'SUWN',
  'SUNS',
  'STRT',
  'STRM',
  'SSSS',
  'SRT',
  'SPRT',
  'SIMP',
  'SGMA',
  'SCM',
  'RSLS',
  'RNWK',
  'RHE',
  'RGCO',
  'REPH',
  'RELV',
  'REI',
  'RC',
  'PPSI',
  'PCTI',
  'PAR',
  'ORN',
  'ORC',
  'ODC',
  'OCGN',
  'NSPR',
  'NSEC',
  'NMRD',
  'NIMU',
  'MTEX',
  'MRCC',
  'MNTX',
  'MIND',
  'MDLY',
  'MBOT',
  'JOUT',
  'ICCC',
  'HBMD',
  'GROW',
  'GLAD',
  'GEC',
  'GAIA',
  'FLXT',
  'FBIO',
  'EVOL',
  'ENZ',
  'ENSV',
  'EMCF',
  'EARN',
  'DJCO',
  'DGLY',
  'CTG',
  'CTEK',
  'CREX',
  'CPTP',
  'CPRX',
  'CNFN',
  'CLCT',
  'CFRX',
  'CBKC',
  'CBFV',
  'CASH',
  'BWEN',
  'BSQR',
  'BKEP',
  'BDR',
  'BBW',
  'ASPU',
  'ARTW',
  'AP',
  'ALT',
  'AJX',
  'AIRT',
  'AHPI',
  'AGTC',
  'AEY',
  'AERI',
  'ADMP'],
 '2018-12-31': ['ZIVO',
  'XENE',
  'WSTG',
  'WDDD',
  'VOXX',
  'VNRX',
  'VERU',
  'VCYT',
  'UWHR',
  'UTI',
  'USIO',
  'UPLD',
  'ULBI',
  'TNLX',
  'THMO',
  'THM',
  'TCI',
  'TBK',
  'SWKH',
  'SSY',
  'SMED',
  'SKY',
  'SIMP',
  'SENEA',
  'SEEL',
  'RSLS',
  'RHE',
  'RELV',
  'RAND',
  'QNST',
  'QCRH',
  'PURE',
  'PDEX',
  'OXFD',
  'OVBC',
  'ONCT',
  'OGEN',
  'OCGN',
  'NWIN',
  'NOVC',
  'NATH',
  'MSN',
  'MRMD',
  'MPB',
  'MNOV',
  'MMAC',
  'MLSS',
  'MLP',
  'MFNC',
  'MFIN',
  'MEIP',
  'MCEP',
  'MBOT',
  'LMB',
  'LCUT',
  'LCNB',
  'KTCC',
  'JAKK',
  'IVAC',
  'IMH',
  'HROW',
  'HOFT',
  'HBIO',
  'GSIT',
  'GNSS',
  'FZMD',
  'FSBW',
  'FPI',
  'FNCB',
  'FMBM',
  'FATE',
  'EYPT',
  'ENZN',
  'EHTH',
  'CRGS',
  'CNET',
  'CLRO',
  'CIVB',
  'CIA',
  'CFRX',
  'CBFV',
  'BTN',
  'BPTH',
  'BDGE',
  'ATRS',
  'ATLC',
  'ASUR',
  'ASPU',
  'ARL',
  'APTS',
  'AMRK',
  'ALDX',
  'AEY',
  'AERI',
  'ACUR'],
 '2018-09-30': ['XXII',
  'XONE',
  'WSTG',
  'VNRX',
  'VIDE',
  'VCYT',
  'UWHR',
  'USIO',
  'UAMY',
  'TSQ',
  'TCI',
  'TCFC',
  'TAYD',
  'SVT',
  'SRNA',
  'SMDM',
  'SIMP',
  'SIGA',
  'SGLB',
  'SGC',
  'SENEA',
  'SEEL',
  'SCM',
  'SAL',
  'RYI',
  'RSLS',
  'RLH',
  'PDEX',
  'ONCT',
  'OEG',
  'OCFC',
  'OBCI',
  'NWPX',
  'NOVC',
  'NKSH',
  'NIMU',
  'MVIS',
  'MVBF',
  'MSN',
  'MFNC',
  'MFIN',
  'MCEP',
  'LMRK',
  'LEAT',
  'LCUT',
  'LAND',
  'KTCC',
  'KSPN',
  'KOR',
  'KINS',
  'JAKK',
  'ITIC',
  'ISR',
  'IRMD',
  'IOR',
  'IEC',
  'HTBK',
  'HMNF',
  'HBMD',
  'HALL',
  'GLXZ',
  'GFED',
  'FRAF',
  'FMBM',
  'FLL',
  'FFWM',
  'FEIM',
  'FDUS',
  'FBIZ',
  'EVOL',
  'EVFM',
  'EQS',
  'ELSE',
  'EGY',
  'EBMT',
  'DGII',
  'DENR',
  'CTEK',
  'CRWS',
  'CRVW',
  'CRK',
  'CPSH',
  'COFS',
  'CLFD',
  'CHMG',
  'CDTX',
  'CBKM',
  'CBFV',
  'CBAT',
  'BYFC',
  'BWEN',
  'BTN',
  'BSQR',
  'BMRC',
  'BELFA',
  'BBI',
  'AWRE',
  'AUMN',
  'ATRS',
  'ASPU',
  'APYX',
  'APT',
  'ANFC',
  'AMTX',
  'AMSC',
  'AMRK',
  'ALIM',
  'AIKI',
  'AGTC',
  'ACFN'],
 '2018-06-30': ['ZGNX',
  'WHF',
  'VIRC',
  'VIDE',
  'VASO',
  'UWHR',
  'UNAM',
  'UMH',
  'UFPT',
  'UBOH',
  'TSQ',
  'SOHO',
  'SLCT',
  'SIMP',
  'SFBC',
  'RSSS',
  'RILY',
  'RAIL',
  'PRSI',
  'PROV',
  'PED',
  'PAYS',
  'OPHC',
  'OBCI',
  'NSYS',
  'NRIM',
  'NLTX',
  'NKSH',
  'NICK',
  'NATH',
  'NANX',
  'NAII',
  'MSN',
  'MICT',
  'MHH',
  'MGHL',
  'MBOT',
  'LGL',
  'KOSS',
  'KOR',
  'KINS',
  'JCTCF',
  'JAKK',
  'ITP',
  'ISTR',
  'IRMD',
  'INTT',
  'INTG',
  'ICAD',
  'HQI',
  'HCHC',
  'HALL',
  'GTIM',
  'GLG',
  'GIGA',
  'GIFI',
  'FEIM',
  'EVFM',
  'ESXB',
  'ESSA',
  'ESCA',
  'ELMD',
  'DSS',
  'DLYT',
  'DGII',
  'CYDY',
  'CXDC',
  'CVLY',
  'CTIB',
  'CRK',
  'CRAI',
  'CPTA',
  'CLRB',
  'CLFD',
  'CLDB',
  'CJJD',
  'CFFI',
  'CDOR',
  'BMRC',
  'BKTI',
  'BGSF',
  'BELFA',
  'BBI',
  'AWX',
  'ATLO',
  'ATLC',
  'ATHX',
  'APT',
  'ANFC',
  'AMTX',
  'ALT',
  'ALSK',
  'AINC',
  'AHPI',
  'ACU',
  'ACNB',
  'ABMC',
  'AAME'],
 '2018-03-31': ['ZGNX',
  'XXII',
  'XENE',
  'WTT',
  'VGZ',
  'VBTX',
  'VABK',
  'UBOH',
  'UBCP',
  'TZOO',
  'TIPT',
  'SNNY',
  'SNFCA',
  'SIMP',
  'SFST',
  'SAL',
  'RSSS',
  'RIVE',
  'PURE',
  'PSTI',
  'PROV',
  'PRDO',
  'PLBC',
  'PKBK',
  'PFMT',
  'PED',
  'PCYN',
  'OVBC',
  'ONTX',
  'OMTK',
  'OFED',
  'NWIN',
  'NTWK',
  'NTIP',
  'NICK',
  'NAII',
  'MTEM',
  'MMAC',
  'MICT',
  'MCEP',
  'MATN',
  'MARK',
  'LIND',
  'JOUT',
  'ISR',
  'IROQ',
  'IRMD',
  'INFU',
  'IEC',
  'ICD',
  'HMG',
  'HGBL',
  'HBCP',
  'HALL',
  'GSIT',
  'GNCA',
  'GLXZ',
  'GLG',
  'GIFI',
  'GEOS',
  'FTLF',
  'FORD',
  'FMNB',
  'FFNW',
  'FENC',
  'FCCO',
  'FBSS',
  'ESSA',
  'ENBP',
  'EML',
  'EBTC',
  'DRAD',
  'CWBC',
  'CVGI',
  'CRAI',
  'CNET',
  'CKX',
  'CIVB',
  'CIO',
  'CHMG',
  'CCBG',
  'CBIO',
  'CBAT',
  'CBAN',
  'CASH',
  'CARV',
  'CAC',
  'BYRN',
  'BOTJ',
  'BOOM',
  'BMRC',
  'BKSC',
  'BKGM',
  'BDGE',
  'BBQ',
  'AUBN',
  'ATLO',
  'ATLC',
  'ANFC',
  'AMPE',
  'AMOT',
  'AMNB',
  'ALSK',
  'AGYS',
  'ACNB'],
 '2017-12-31': ['ZNOG',
  'XTNT',
  'XSPA',
  'XONE',
  'WVVI',
  'WLFC',
  'VEC',
  'VCRA',
  'VALU',
  'USAK',
  'UONE',
  'TRNS',
  'TIPT',
  'TACO',
  'STCN',
  'SSKN',
  'SPKE',
  'SNFCA',
  'SMGI',
  'RM',
  'QTXB',
  'PSTV',
  'PFSW',
  'PFMT',
  'PCYO',
  'OXFD',
  'OTEL',
  'ORN',
  'OMEX',
  'NVEE',
  'NUVR',
  'NSEC',
  'NERV',
  'MLR',
  'MATN',
  'LMST',
  'LEE',
  'IKNX',
  'HWCC',
  'HNNA',
  'GVP',
  'GV',
  'GNCA',
  'GEOS',
  'FZMD',
  'FBIZ',
  'FBIO',
  'ESP',
  'ESCA',
  'ERII',
  'DJCO',
  'CWGL',
  'CUTR',
  'CRMZ',
  'CLRB',
  'CDXS',
  'CDTX',
  'CBIO',
  'BXC',
  'BIOL',
  'BCOV',
  'BCLI',
  'BBI',
  'AVEO',
  'ASPN',
  'ASMB',
  'AIKI',
  'AGYS',
  'ADMA',
  'ACY',
  'ACRX',
  'ABIO',
  'ABCP'],
 '2017-09-30': ['ZNOG',
  'ZAGG',
  'XSPA',
  'WTT',
  'WHLR',
  'VOXX',
  'VCRA',
  'UUU',
  'USAK',
  'TSQ',
  'TRVN',
  'TOMZ',
  'TCI',
  'SYNC',
  'SVT',
  'STRS',
  'STRM',
  'SPRS',
  'SIMP',
  'SGA',
  'SFDL',
  'SAR',
  'RIBT',
  'RAND',
  'QSEP',
  'PWOD',
  'PULM',
  'PFSW',
  'ONCT',
  'OBLG',
  'NVEE',
  'NRIM',
  'MTBC',
  'MOJO',
  'MITK',
  'LUNA',
  'LIND',
  'INTZ',
  'INS',
  'INFU',
  'IIN',
  'ICBK',
  'GNCA',
  'FLL',
  'ESSA',
  'EMCF',
  'DWSN',
  'DMRC',
  'DGII',
  'DENR',
  'CWST',
  'CVGI',
  'CRGS',
  'CRDF',
  'CPSH',
  'CPIX',
  'CPAH',
  'CNTY',
  'CLDB',
  'CDXC',
  'CDTX',
  'CDOR',
  'BOTJ',
  'BBI',
  'AWRE',
  'ATLO',
  'ASPN',
  'ASMB',
  'ARL',
  'ANDR',
  'AMNB',
  'ALOT',
  'AKBA',
  'AIKI',
  'ABIO'],
 '2017-06-30': ['ZAGG',
  'YEWB',
  'VUZI',
  'VCEL',
  'UG',
  'UBFO',
  'UAMY',
  'TWIN',
  'TRVN',
  'TENX',
  'SYNC',
  'SUNW',
  'SMED',
  'SKY',
  'RESN',
  'QTNT',
  'PSTV',
  'PSTI',
  'PRTS',
  'PFBI',
  'PEBK',
  'OTRK',
  'ORRF',
  'ORMP',
  'OEG',
  'OCUP',
  'NVEE',
  'NTIC',
  'NSTG',
  'MTEX',
  'MTBC',
  'MSB',
  'MNTX',
  'MGHL',
  'MARPS',
  'LPTH',
  'LAWS',
  'JCTCF',
  'INOD',
  'IIN',
  'HWCC',
  'HSON',
  'HQI',
  'GNCA',
  'FRD',
  'FRAF',
  'FORD',
  'FEIM',
  'FCAP',
  'FALC',
  'EVTN',
  'ELSE',
  'ECIA',
  'DVD',
  'DGLY',
  'CYTH',
  'CTSO',
  'CRMD',
  'CNBKA',
  'CMXC',
  'CKX',
  'CDTX',
  'CCUR',
  'CARA',
  'CAAS',
  'BRG',
  'BLBD',
  'BKTI',
  'BICX',
  'BABB',
  'AUPH',
  'APDN',
  'AP',
  'AKBA',
  'ACU',
  'AAME']}

In [50]:
a,b,c,d= trade ('WATT',announce_date('WATT','2020-03-31'), posn='long')
a,b,c,d

WATT

(2.07, 1.92, -0.07246376811594199, 'SLH')

In [59]:
# seems like     a,b,c,d= trade (cpy,announce_date(cpy,qtr)) and
#         a,b,c,d= trade (cpy,announce_date(cpy,qtr),posn='short') are the problem
#problem is with the trade function, not the announce date function

names = ['WLDN','ICBK','AJX','CDTX','XSPA','OPGN']
# names = ['TCON','TMBR', 'TAT', 'BSTC','ZSAN','RCKT','TAT','LLEXQ','WSTL','NTRP','JCAP','RKDA','RMNI','PATI', 'ZEUS']

quarter = []
comp =[]
position =[]
bp=[]
sp=[]
pnl =[]
end=[]
i=0
j=0
for qtr in long_port:
    i=i+1
    #somehow i already referenced i before i assigned it in the function, the problem could be here or in the funciton
    for cpy in long_port[qtr]:
        quarter.append(qtr)
        comp.append(cpy)
        if cpy in names:
            break
        else:
            a,b,c,d= trade (cpy,announce_date(cpy,qtr), posn='long')
            bp.append(a)
            sp.append(b)
            pnl.append(c)
            end.append(d)
            position.append('long')
    print ('No. of quarters done:', i)
        
print ('long portfolio done')

for qtr in short_port:
    j=j+1
    for cpy in short_port[qtr]:
        quarter.append(qtr)
        comp.append(cpy)
        if cpy in names:
            break
        else:
            a,b,c,d= trade (cpy,announce_date(cpy,qtr),posn='short')
            bp.append(a)
            sp.append(b)
            pnl.append(c)
            end.append(d)
            position.append('short')
    print ('No. of quarters done:', j)

Final = pd.DataFrame(list(zip(quarter, comp, position, bp, sp, pnl, end)), columns =['Quarter', 'Ticker', 'Position', 'Pos. Open', 'Pos. Close', 'Profit', 'Pos. Status'])

No. of quarters done: 1
WHF
UWHR
UUU
UCTT
UBOH
TWIN
TSRI
TACO
SUNS
SUMR
SSSS
SNFCA
SMED
SGC
SFBC
SCM
RLGT
RILY
RBCN
QNBC
PLPC
PEIX
ORC
OFS
OCGN
OBCI
NRIM
NERV
NAII
MRNS
MRCC
MN
MKRS
MCCX
MATN
LUVU
LEAF
LCUT
KOSS
KINS
KIN
JMP
JCTCF
ITIC
ITI
ICD
ICAD
HUSA
HMNF
HGBL
HCHC
HBP
HALL
GTIM
GEC
FRBK
FMBM
FEIM
ESCA
ERII
EQS
EARN
DIT
CYBE
CPST
COHN
COFS
CLFD
CLBS
CKX
CFBK
CDZI
CDMO
CARA
BELFA
BCOV
BCLI
ATLO
AMTX
AINC
ACU
ABEO
AAME
No. of quarters done: 2
USIO
UCTT
UAMY
TOMZ
TMQ
SONN
SNNY
SHSP
SESN
SAMG
RSLS
RESN
REI
ORGS
NERV
MN
MGEN
LAWS
GLYC
GLGI
GIFI
DRAD
CVV
CMT
CBIO
CBAY
CASI
CAPR
BLFS
BBQ
APT
AMRK
ALDX
ACHV
No. of quarters done: 3
ZGNX
ZAGG
No. of quarters done: 4
ZAGG
VCRA
UTI
TRUP
TGEN
STRM
STCN
SSNT
SPKE
SOTK
SNMP
SMIT
SHYF
SHSP
SBFG
RM
RHE
RELL
REFR
PRCP
PLXP
PFBX
PCYO
PBHC
ORMP
OPCH
NVUS
NBY
MTBC
MOJO
MGEN
LGL
LEU
LEAT
KIN
ITP
ISNS
IMBI
IGC
No. of quarters done: 5
WHLM
VOXX
VIRC
UTI
TPVG
TOMZ
TGEN
TAYD
SUNW
SMTI
SMED
SEEL
RILY
PTN
PTMN
PFIN
PEIX
PCTI
PAYS
PAR
OTRK
ORN
OEG
OCUP
NWIN
NWHM
NSTG
NIMU
NICK
NCBS
NAVB
MVBF
MTEX
MNTX
MHH
MGEN
LWLG
KVHI
KTCC
KINS
KIN
JSDA
JCTCF
ITP
ITI
IRT
IMBI
IGC
HEPA
GTIM
GLXZ
GFN
GAIA
FVE
FORD
FMAO
ELMD
EBMT
DXYN
DVD
DGLY
DFFN
CZWI
CYTH
CXDC
CVV
CUTR
CTSO
CPSH
CPRX
CNFN
CMT
CLBS
CDOR
BRN
BKEP
BICX
BABB
AWX
ASYS
ASPN
ASMB
ARTW
AP
AOSL
ALDX
No. of quarters done: 6
ZNOG
WWR
WHLR
UTI
USNU
UNB
UMH
TZOO
TENX
SWKH
SUWN
SUNS
STRT
STRM
SSSS
SRT
SPRT
SIMP
SGMA
SCM
RSLS
RNWK
RHE
RGCO
REPH
RELV
REI
RC
PPSI
PCTI
PAR
ORN
ORC
ODC
OCGN
NSPR
NSEC
NMRD
NIMU
MTEX
MRCC
MNTX
MIND
MDLY
MBOT
JOUT
ICCC
HBMD
GROW
GLAD
GEC
GAIA
FLXT
FBIO
EVOL
ENZ
ENSV
EMCF
EARN
DJCO
DGLY
CTG
CTEK
CREX
CPTP
CPRX
CNFN
CLCT
CFRX
CBKC
CBFV
CASH
BWEN
BSQR
BKEP
BDR
BBW
ASPU
ARTW
AP
ALT
No. of quarters done: 7
ZIVO
XENE
WSTG
WDDD
VOXX
VNRX
VERU
VCYT
UWHR
UTI
USIO
UPLD
ULBI
TNLX
THMO
THM
TCI
TBK
SWKH
SSY
SMED
SKY
SIMP
SENEA
SEEL
RSLS
RHE
RELV
RAND
QNST
QCRH
PURE
PDEX
OXFD
OVBC
ONCT
OGEN
OCGN
NWIN
NOVC
NATH
MSN
MRMD
MPB
MNOV
MMAC
MLSS
MLP
MFNC
MFIN
MEIP
MCEP
MBOT
LMB
LCUT
LCNB
KTCC
JAKK
IVAC
IMH
HROW
HOFT
HBIO
GSIT
GNSS
FZMD
FSBW
FPI
FNCB
FMBM
FATE
EYPT
ENZN
EHTH
CRGS
CNET
CLRO
CIVB
CIA
CFRX
CBFV
BTN
BPTH
BDGE
ATRS
ATLC
ASUR
ASPU
ARL
APTS
AMRK
ALDX
AEY
AERI
ACUR
No. of quarters done: 8
XXII
XONE
WSTG
VNRX
VIDE
VCYT
UWHR
USIO
UAMY
TSQ
TCI
TCFC
TAYD
SVT
SRNA
SMDM
SIMP
SIGA
SGLB
SGC
SENEA
SEEL
SCM
SAL
RYI
RSLS
RLH
PDEX
ONCT
OEG
OCFC
OBCI
NWPX
NOVC
NKSH
NIMU
MVIS
MVBF
MSN
MFNC
MFIN
MCEP
LMRK
LEAT
LCUT
LAND
KTCC
KSPN
KOR
KINS
JAKK
ITIC
ISR
IRMD
IOR
IEC
HTBK
HMNF
HBMD
HALL
GLXZ
GFED
FRAF
FMBM
FLL
FFWM
FEIM
FDUS
FBIZ
EVOL
EVFM
EQS
ELSE
EGY
EBMT
DGII
DENR
CTEK
CRWS
CRVW
CRK
CPSH
COFS
CLFD
CHMG
No. of quarters done: 9
ZGNX
WHF
VIRC
VIDE
VASO
UWHR
UNAM
UMH
UFPT
UBOH
TSQ
SOHO
SLCT
SIMP
SFBC
RSSS
RILY
RAIL
PRSI
PROV
PED
PAYS
OPHC
OBCI
NSYS
NRIM
NLTX
NKSH
NICK
NATH
NANX
NAII
MSN
MICT
MHH
MGHL
MBOT
LGL
KOSS
KOR
KINS
JCTCF
JAKK
ITP
ISTR
IRMD
INTT
INTG
ICAD
HQI
HCHC
HALL
GTIM
GLG
GIGA
GIFI
FEIM
EVFM
ESXB
ESSA
ESCA
ELMD
DSS
DLYT
DGII
CYDY
CXDC
CVLY
CTIB
CRK
CRAI
CPTA
CLRB
CLFD
CLDB
CJJD
CFFI
CDOR
BMRC
BKTI
BGSF
BELFA
BBI
AWX
ATLO
ATLC
ATHX
APT
ANFC
AMTX
ALT
ALSK
AINC
AHPI
ACU
ACNB
ABMC
AAME
No. of quarters done: 10
ZGNX
XXII
XENE
WTT
VGZ
VBTX
VABK
UBOH
UBCP
TZOO
TIPT
SNNY
SNFCA
SIMP
SFST
SAL
RSSS
RIVE
PURE
PSTI
PROV
PRDO
PLBC
PKBK
PFMT
PED
PCYN
OVBC
ONTX
OMTK
OFED
NWIN
NTWK
NTIP
NICK
NAII
MTEM
MMAC
MICT
MCEP
MATN
MARK
LIND
JOUT
ISR
IROQ
IRMD
INFU
IEC
ICD
HMG
HGBL
HBCP
HALL
GSIT
GNCA
GLXZ
GLG
GIFI
GEOS
FTLF
FORD
FMNB
FFNW
FENC
FCCO
FBSS
ESSA
ENBP
EML
EBTC
DRAD
CWBC
CVGI
CRAI
CNET
CKX
CIVB
CIO
CHMG
CCBG
CBIO
CBAT
CBAN
CASH
CARV
CAC
BYRN
BOTJ
BOOM
BMRC
BKSC
BKGM
BDGE
BBQ
AUBN
ATLO
ATLC
ANFC
AMPE
AMOT
AMNB
ALSK
AGYS
ACNB
No. of quarters done: 11
ZNOG
XTNT
No. of quarters done: 12
ZNOG
ZAGG
No. of quarters done: 13
ZAGG
YEWB
VUZI
VCEL
UG
UBFO
UAMY
TWIN
TRVN
TENX
SYNC
SUNW
SMED
SKY
RESN
QTNT
PSTV
PSTI
PRTS
PFBI
PEBK
OTRK
ORRF
ORMP
OEG
OCUP
NVEE
NTIC
NSTG
MTEX
MTBC
MSB
MNTX
MGHL
MARPS
LPTH
LAWS
JCTCF
INOD
IIN
HWCC
HSON
HQI
GNCA
FRD
FRAF
FORD
FEIM
FCAP
FALC
EVTN
ELSE
ECIA
DVD
DGLY
CYTH
CTSO
CRMD
CNBKA
CMXC
CKX
No. of quarters done: 14
long portfolio done
No. of quarters done: 1
No. of quarters done: 2
ZAGG
XTNT
No. of quarters done: 3
XTNT
No. of quarters done: 4
ZGNX
XTNT
No. of quarters done: 5
No. of quarters done: 6
ZAGG
No. of quarters done: 7
ZNOG
XXII
WWR
No. of quarters done: 8
WWR
VOXX
VIVE
UCTT
TOFB
TNXP
THMO
TGHI
SPRT
SONN
SNSS
SNCA
SKY
SCON
RBCN
QCRH
PSTV
PRPO
PLXP
OPTT
No. of quarters done: 9
XXII
WWR
WSTG
VXRT
VOXX
VIVE
UCTT
TNXP
THMO
TGHI
TGEN
STRM
SONN
SNSS
SNCA
SCYX
SCON
RSLS
PSTV
PSTI
PRPO
PLXP
OPTT
No. of quarters done: 10
ZNOG
No. of quarters done: 11
XELB
WNEB
VIVE
VIDE
VABK
UWHR
UBCP
TWIN
TSQ
TNXP
THMO
TGHI
TCFC
TBK
SONN
SNSS
SNNY
SNCA
SLCT
SGC
SFST
SFDL
SEEL
SCYX
SCON
SAMG
RVSB
RSRV
RSLS
RIVE
RHE
RESN
RBCN
QNBC
QMCI
PRSI
PRPO
PPSI
PLXP
PLPC
PLBC
PED
OVTZ
ORRF
OPTT
OPOF
No. of quarters done: 12
ZGNX
WWR
VIVE
TNXP
THMO
SYN
SONN
SNSS
SNCA
SMGI
SEEL
SCYX
SCON
RSLS
PSTV
PRPO
PAR
OPTT
No. of quarters done: 13
WWR
WHLR
VIVE
TPCS
TNXP
TKOI
THMO
SYN
SSKN
SONN
SNSS
SNMP
SNCA
SMTX
SLCT
SEEL
SCYX
SCON
SANW
RSLS
RHE
RELV
PULM
PRPO
OXFD
OPTT
No. of quarters done: 14

In [60]:
Final.head(30)

       Quarter Ticker Position  Pos. Open  Pos. Close    Profit Pos. Status
0   2020-09-30   WLDN     long     10.450       9.690 -0.072727         SLH
1   2020-06-30    WHF     long      4.600       5.550  0.206522          PB
2   2020-06-30   UWHR     long      1.950       1.770 -0.092308         SLH
3   2020-06-30    UUU     long     30.180      28.630 -0.051359         SLH
4   2020-06-30   UCTT     long     18.500      17.520 -0.052973         SLH
5   2020-06-30   UBOH     long      6.250       5.660 -0.094400         SLH
6   2020-06-30   TWIN     long      4.400       4.900  0.113636          PB
7   2020-06-30   TSRI     long      7.910       7.380 -0.067004         SLH
8   2020-06-30   TACO     long     12.880      12.670 -0.016304         PSO
9   2020-06-30   SUNS     long     13.902      17.850  0.283988          PB
10  2020-06-30   SUMR     long     13.690      12.730 -0.070124         SLH
11  2020-06-30   SSSS     long      6.980       6.480 -0.071633         SLH
12  2020-06-30  SNFCA     long      7.810       7.250 -0.071703         SLH
13  2020-06-30   SMED     long     17.300      19.250  0.112717          PB
14  2020-06-30    SGC     long     26.980      29.975  0.111008          PB
15  2020-06-30   SFBC     long      7.740       8.640  0.116279          PB
16  2020-06-30    SCM     long      5.210       5.770  0.107486          PB
17  2020-06-30   RLGT     long     26.270      24.850 -0.054054         SLH
18  2020-06-30   RILY     long      8.225       8.620  0.048024         PSO
19  2020-06-30   RBCN     long     27.250      30.200  0.108257          PB
20  2020-06-30   QNBC     long     60.400      56.130 -0.070695         SLH
21  2020-06-30   PLPC     long      3.770       3.420 -0.092838         SLH
22  2020-06-30   PEIX     long      5.140       5.130 -0.001946         PSO
23  2020-06-30    ORC     long      4.270       4.920  0.152225          PB
24  2020-06-30    OFS     long      0.565       0.497 -0.120354         SLH
25  2020-06-30   OCGN     long     15.410      14.000 -0.091499         SLH
26  2020-06-30   OBCI     long     22.750      25.670  0.128352          PB
27  2020-06-30   NRIM     long      3.690       3.460 -0.062331         SLH
28  2020-06-30   NERV     long      6.737       7.700  0.142942          PB
29  2020-06-30   NAII     long      2.090       1.790 -0.143541         SLH

In [61]:
Final_by_quarter = Final.groupby('Quarter').sum()
Final_by_quarter

            Pos. Open  Pos. Close    Profit
Quarter
2017-06-30    567.349     573.744  2.460997
2017-09-30     85.689      86.468 -0.076281
2017-12-31    732.537     737.739  1.006649
2018-03-31   1832.113    1934.712  4.893689
2018-06-30   1642.219    1655.285  3.714505
2018-09-30   1210.901    1151.787 -0.617491
2018-12-31   1162.506    1140.561 -0.941105
2019-03-31    951.918     972.172  1.365030
2019-06-30    628.671     635.089 -1.243930
2019-09-30    259.634     277.289  8.768358
2019-12-31     32.633      30.770 -0.618381
2020-03-31    235.869     238.701  3.259105
2020-06-30    990.563    1010.210  1.418544
2020-09-30     10.681       9.886  0.078788

In [62]:
Final_by_quarter.reset_index(inplace=True)

# Calculating final NAV

In [63]:
Final_by_quarter

       Quarter  Pos. Open  Pos. Close    Profit
0   2017-06-30    567.349     573.744  2.460997
1   2017-09-30     85.689      86.468 -0.076281
2   2017-12-31    732.537     737.739  1.006649
3   2018-03-31   1832.113    1934.712  4.893689
4   2018-06-30   1642.219    1655.285  3.714505
5   2018-09-30   1210.901    1151.787 -0.617491
6   2018-12-31   1162.506    1140.561 -0.941105
7   2019-03-31    951.918     972.172  1.365030
8   2019-06-30    628.671     635.089 -1.243930
9   2019-09-30    259.634     277.289  8.768358
10  2019-12-31     32.633      30.770 -0.618381
11  2020-03-31    235.869     238.701  3.259105
12  2020-06-30    990.563    1010.210  1.418544
13  2020-09-30     10.681       9.886  0.078788

In [64]:
# lets say we start with a portfolio of 1,000,000 USD
d = { 'Quarter':(Final_by_quarter['Quarter']),'Profit in Percentage':(Final_by_quarter['Profit'])}

NAV = pd.DataFrame(data = d)
NAV['end NAV'] = None
NAV

       Quarter  Profit in Percentage end NAV
0   2017-06-30              2.460997    None
1   2017-09-30             -0.076281    None
2   2017-12-31              1.006649    None
3   2018-03-31              4.893689    None
4   2018-06-30              3.714505    None
5   2018-09-30             -0.617491    None
6   2018-12-31             -0.941105    None
7   2019-03-31              1.365030    None
8   2019-06-30             -1.243930    None
9   2019-09-30              8.768358    None
10  2019-12-31             -0.618381    None
11  2020-03-31              3.259105    None
12  2020-06-30              1.418544    None
13  2020-09-30              0.078788    None

In [65]:
profit_percentage = list (NAV['Profit in Percentage'])

In [66]:
NAV_end = [1000000]
NAV_end[0]

1000000

In [67]:
for i in profit_percentage:
    print (i)
    j = 0
    print(j)
    period_NAV = NAV_end[j]*(1+i)
    NAV_end.append(period_NAV)
    
    j=j+1

2.4609966861528427
0
-0.07628129722948569
0
1.0066488564692564
0
4.893688591317571
0
3.7145054680464944
0
-0.6174906157898277
0
-0.9411047550663437
0
1.365029927464023
0
-1.2439302273627737
0
8.768357759205735
0
-0.6183806173403709
0
3.2591048915348675
0
1.4185441275316644
0
0.07878787878787881
0

In [68]:
NAV_end

[1000000,
 3460996.686152843,
 923718.7027705143,
 2006648.8564692566,
 5893688.591317571,
 4714505.468046495,
 382509.38421017234,
 58895.24493365628,
 2365029.9274640228,
 -243930.2273627737,
 9768357.759205734,
 381619.38265962916,
 4259104.891534868,
 2418544.127531664,
 1078787.878787879]

In [69]:
Final_by_quarter.to_csv('../dataset/Final_by_quarter.csv',index = False)
Final_by_quarter
#export the dataframe

       Quarter  Pos. Open  Pos. Close    Profit
0   2017-06-30    567.349     573.744  2.460997
1   2017-09-30     85.689      86.468 -0.076281
2   2017-12-31    732.537     737.739  1.006649
3   2018-03-31   1832.113    1934.712  4.893689
4   2018-06-30   1642.219    1655.285  3.714505
5   2018-09-30   1210.901    1151.787 -0.617491
6   2018-12-31   1162.506    1140.561 -0.941105
7   2019-03-31    951.918     972.172  1.365030
8   2019-06-30    628.671     635.089 -1.243930
9   2019-09-30    259.634     277.289  8.768358
10  2019-12-31     32.633      30.770 -0.618381
11  2020-03-31    235.869     238.701  3.259105
12  2020-06-30    990.563    1010.210  1.418544
13  2020-09-30     10.681       9.886  0.078788

In [70]:
# we form a final_NAV csv and then export it
df = pd.DataFrame(columns=['final NAV','quarter'])

In [71]:
temp = list(Final_by_quarter['Quarter'])
temp

['2017-06-30',
 '2017-09-30',
 '2017-12-31',
 '2018-03-31',
 '2018-06-30',
 '2018-09-30',
 '2018-12-31',
 '2019-03-31',
 '2019-06-30',
 '2019-09-30',
 '2019-12-31',
 '2020-03-31',
 '2020-06-30',
 '2020-09-30']

In [72]:
# we need to insert this quarter because we start taking position at this date
temp.insert(0,'2017-03-31')

In [73]:
df['final NAV'] = NAV_end
df['quarter'] = temp
df

       final NAV     quarter
0   1.000000e+06  2017-03-31
1   3.460997e+06  2017-06-30
2   9.237187e+05  2017-09-30
3   2.006649e+06  2017-12-31
4   5.893689e+06  2018-03-31
5   4.714505e+06  2018-06-30
6   3.825094e+05  2018-09-30
7   5.889524e+04  2018-12-31
8   2.365030e+06  2019-03-31
9  -2.439302e+05  2019-06-30
10  9.768358e+06  2019-09-30
11  3.816194e+05  2019-12-31
12  4.259105e+06  2020-03-31
13  2.418544e+06  2020-06-30
14  1.078788e+06  2020-09-30

In [74]:
df.to_csv('../dataset/final_NAV.csv')